# Using Bitquery GraphQL API
community support: https://community.bitquery.io

In [2]:
# prep
from sqlalchemy import create_engine
import pymysql, sys
import numpy as np
import json, pprint, json, requests#, multiprocessing
from datetime import datetime
import pandas as pd
sys.path.append('/home/lstm/Github/jp-codes-ubuntu/modules/') 
from ipynb.fs.defs.module_ju_utils import bcolors

mint_address_GST = 'AFbX8oGjGpmVFywbVouvhQSRmiW2aR1mohfahi4Y2AdB'  # GST mint
mint_address_GMT = '7i5KKsX2weiTkry7jA4ZwSuXGhs5eJBEjY8vVxR4pfRx'  # GMT mint
auth_address = 'STEPNq2UGeGSzCyGVr2nMQAzf8xuejwqebd84wcksCK'  # STEPN wallet

db_connection_str = 'mysql+pymysql://crypto:trackcrack@192.168.0.2/crypto'  # connect to 'crypto' database in B150M
db_connection = create_engine(db_connection_str)
conn = db_connection.connect()

tablename_gst_out = 'stepn_solana_gst_out_bitquery'
tablename_gst_in = 'stepn_solana_gst_in_bitquery'

API_key = "BQYqISAGCYfoDCPjnoX7BmQZiw3qABkn"  # gmail
# API_key = "BQYCF0KrTkp1212p3OsUSB6mcSRB3DUV"  # jp@wadilt

## define getter functions

In [38]:
def run_bitquery(API_key='', querystr=''):  # simple function to use requests.post to make the API call.
    headers = {'X-API-KEY': API_key}
    
    try:
        request = requests.post('https://graphql.bitquery.io/',
                                json={'query': querystr}, headers=headers)        
        if request.status_code == 200:
            return request.json()
        else:
            print(request)
                            
    except Exception as e:
        print(e)
            

def run_bitquery_loop(query_dates=None, timeslots=None, db_table_name='', db_connection=None, query_str=''):
    
    df_gst_out = pd.DataFrame()
    for ii, dd in enumerate(query_dates):
        query_date = dd
        
        for slot in timeslots:  
#             print(slot)
            
            # prep query string for each timeslot (for last timeslot, query is "till" end; for others it's "before")
            # if slot == timeslots[-1]:
            # qrs = query_str.replace("2021-12-31", query_date).replace(
                # "T00:00:00", slot[0]).replace("T24:00:00", slot[1]).replace("before", "till")
            # else:
            qrs = query_str.replace("2021-12-31", query_date).replace(
                "T00:00:00", slot[0]).replace("T24:00:00", slot[1])
                
#             print(qrs)
            
            # Execute the query
            bqresult = run_bitquery(API_key=API_key, querystr=qrs)            
#             print(bqresult)
        
            # put query return into dataframe
            ta = bqresult['data']['solana']['transfers']
            if len(ta) == 0:
                print("")
                print(bcolors.FAIL + "WARNING: Request for " + query_date + " " + str(slot) + " is empty" + bcolors.ENDC)
                print("")
                continue            
            for indx in range(len(ta)):                
                df_gst_out = pd.concat([df_gst_out, pd.DataFrame([{
                    'blocktime': ta[indx]['block']['timestamp']['unixtime'],
                    'amount': ta[indx]['amount'],
                    'mint': ta[indx]['currency']['address'],
                    'decimals': ta[indx]['currency']['decimals'],
                    'symbol': ta[indx]['currency']['symbol'],
                    'sender': ta[indx]['sender']['address'], 
                    'sender_token_account': ta[indx]['sender']['mintAccount'],                
                    'receiver': ta[indx]['receiver']['address'], 
                    'receiver_token_account': ta[indx]['receiver']['mintAccount'],
                    'signature': ta[indx]['transaction']['signature']
                }])])

            # clean up DF
            df_gst_out.sort_values(by='blocktime', inplace=True)
            df_gst_out['datetime'] = pd.to_datetime(df_gst_out['blocktime'], unit='s')
            df_gst_out = df_gst_out.reindex(columns=[
                'datetime', 'blocktime', 'amount', 'mint', 'decimals', 'symbol', 'sender', 
                'sender_token_account', 'receiver', 'receiver_token_account', 'signature'])

            # save in DB
#             print(df_gst_out)
            df_gst_out.to_sql(name=db_table_name, con=db_connection, if_exists='append', index=False)
            print(ii, dd, slot)
            print('transfers for the period: ', len(df_gst_out))

            # reset df_gst_out
            df_gst_out = pd.DataFrame()

## query:  all GST sent from STEPN auth on a given day

### define query

In [4]:
query_string = """
query{
  solana {
    transfers(
      currency: {is: "AFbX8oGjGpmVFywbVouvhQSRmiW2aR1mohfahi4Y2AdB"}
      time: {since: "2021-12-31T00:00:00", before: "2021-12-31T24:00:00"}
      senderAddress: {is: "STEPNq2UGeGSzCyGVr2nMQAzf8xuejwqebd84wcksCK"}
    ) {
      amount
      currency {
        address
        symbol
        decimals
      }      
      sender {
        address
        mintAccount
      }      
      receiver {
        address
        mintAccount
      }      
      transaction {
        signature
      }
      block {
        timestamp {
          unixtime
        }
      }
    }
  }
}
"""
pprint.pprint(query_string)

('\n'
 'query{\n'
 '  solana {\n'
 '    transfers(\n'
 '      currency: {is: "AFbX8oGjGpmVFywbVouvhQSRmiW2aR1mohfahi4Y2AdB"}\n'
 '      time: {since: "2021-12-31T00:00:00", before: "2021-12-31T24:00:00"}\n'
 '      senderAddress: {is: "STEPNq2UGeGSzCyGVr2nMQAzf8xuejwqebd84wcksCK"}\n'
 '    ) {\n'
 '      amount\n'
 '      currency {\n'
 '        address\n'
 '        symbol\n'
 '        decimals\n'
 '      }      \n'
 '      sender {\n'
 '        address\n'
 '        mintAccount\n'
 '      }      \n'
 '      receiver {\n'
 '        address\n'
 '        mintAccount\n'
 '      }      \n'
 '      transaction {\n'
 '        signature\n'
 '      }\n'
 '      block {\n'
 '        timestamp {\n'
 '          unixtime\n'
 '        }\n'
 '      }\n'
 '    }\n'
 '  }\n'
 '}\n')

### define date ranges to query

#### in reverse order for 2022-12

In [ ]:
query_dates = [d.strftime('%Y-%m-%d') for d in pd.date_range('20211201', '20211231')]
query_dates.reverse()

#### in normal order thereafter, by 24-hr increments

In [ ]:
query_dates = [d.strftime('%Y-%m-%d') for d in pd.date_range('20220408', '20220408')]
query_times = [["T00:00:00", "T24:00:00"]]

#### in normal order thereafter, by 6-hr increments

In [ ]:
query_dates = [d.strftime('%Y-%m-%d') for d in pd.date_range('20220417', '20220531')]
query_times = [
    ["T00:00:00", "T06:00:00"], ["T06:00:00", "T12:00:00"], ["T12:00:00", "T18:00:00"], ["T18:00:00", "T24:00:00"]
]

#### in normal order thereafter, by 3-hr increments

In [21]:
query_dates = [d.strftime('%Y-%m-%d') for d in pd.date_range('20220601', '20220612')]
query_times = [
    ["T00:00:00", "T03:00:00"], ["T03:00:00", "T06:00:00"], ["T06:00:00", "T09:00:00"], ["T09:00:00", "T12:00:00"],
    ["T12:00:00", "T15:00:00"], ["T15:00:00", "T18:00:00"], ["T18:00:00", "T21:00:00"], ["T21:00:00", "T24:00:00"]
]

#### in normal order thereafter, by 1-hr increments

In [36]:
query_dates = [d.strftime('%Y-%m-%d') for d in pd.date_range('20220602', '20220612')]
query_times = [
    ["T00:00:00", "T01:00:00"], ["T01:00:00", "T02:00:00"], ["T02:00:00", "T03:00:00"], ["T03:00:00", "T04:00:00"], ["T04:00:00", "T05:00:00"], 
    ["T05:00:00", "T06:00:00"], ["T06:00:00", "T07:00:00"], ["T07:00:00", "T08:00:00"], ["T08:00:00", "T09:00:00"], ["T09:00:00", "T10:00:00"],     
    ["T10:00:00", "T11:00:00"], ["T11:00:00", "T12:00:00"], ["T12:00:00", "T13:00:00"], ["T13:00:00", "T14:00:00"], ["T14:00:00", "T15:00:00"], 
    ["T15:00:00", "T16:00:00"], ["T16:00:00", "T17:00:00"], ["T17:00:00", "T18:00:00"], ["T18:00:00", "T19:00:00"], ["T19:00:00", "T20:00:00"], 
    ["T20:00:00", "T21:00:00"], ["T21:00:00", "T22:00:00"], ["T22:00:00", "T23:00:00"], ["T23:00:00", "T24:00:00"]
]

In [ ]:
# for testing
# query_dates = [d.strftime('%Y-%m-%d') for d in pd.date_range('20220331', '20220531')]
# query_times = [["T00:00:00", "T01:00:00"], ["T01:00:00", "T02:00:00"]]

### run query w/ Bitquery API --> save in DB

In [39]:
db_table_name = 'stepn_solana_gst_out_bitquery'
run_bitquery_loop(query_dates=query_dates, timeslots=query_times, db_table_name=db_table_name, 
                  db_connection=conn, query_str=query_string)

WARNING: Request for 2022-06-02 ['T00:00:00', 'T01:00:00'] is empty

0 2022-06-02 ['T01:00:00', 'T02:00:00']
transfers for the period:  13359

TypeError: object of type 'NoneType' has no len()

## all GST sent to STEPN auth on a given day

### define query

In [ ]:
query_string = """
query{
  solana {
    transfers(
      currency: {is: "AFbX8oGjGpmVFywbVouvhQSRmiW2aR1mohfahi4Y2AdB"}      
      time: {since: "2021-12-31T00:00:00", till: "2021-12-31T24:00:00"}
      receiverAddress: {is: "STEPNq2UGeGSzCyGVr2nMQAzf8xuejwqebd84wcksCK"}
    ) {
      amount
      currency {
        address
        symbol
        decimals
      }      
      sender {
        address
        mintAccount
      }      
      receiver {
        address
        mintAccount
      }      
      transaction {
        signature
      }
      block {
        timestamp {
          unixtime
        }
      }
    }
  }
}
"""
pprint.pprint(query_string)

## scratches

#### rerun query w/ error

In [35]:
query_dates = [d.strftime('%Y-%m-%d') for d in pd.date_range('20220601', '20220601')]
# timeslots = [
#     ["T12:00:00", "T13:00:00"], ["T13:00:00", "T14:00:00"], ["T14:00:00", "T15:00:00"], 
#     ["T15:00:00", "T16:00:00"], ["T16:00:00", "T17:00:00"], ["T17:00:00", "T18:00:00"], ["T18:00:00", "T19:00:00"], ["T19:00:00", "T20:00:00"], 
#     ["T20:00:00", "T21:00:00"], ["T21:00:00", "T22:00:00"], ["T22:00:00", "T23:00:00"], ["T23:00:00", "T24:00:00"]
# ]
timeslots = [["T12:53:40", "T13:00:00"], ["T13:00:00", "T14:00:00"], ["T14:00:00", "T15:00:00"], ["T15:00:00", "T16:00:00"],
             ["T16:00:00", "T17:00:00"], ["T17:00:00", "T18:00:00"], ["T18:00:00", "T19:00:00"], ["T19:00:00", "T20:00:00"],
             ["T20:00:00", "T21:00:00"], ["T21:00:00", "T22:00:00"], ["T22:00:00", "T23:00:00"], ["T23:00:00", "T24:00:00"]
]
# timeslots = [["T02:00:00", "T21:00:00"], ["T21:00:00", "T22:00:00"], ["T22:00:00", "T23:00:00"]]

db_table_name = 'stepn_solana_gst_out_bitquery'
db_connection = conn
query_str = query_string

df_gst_out = pd.DataFrame()
for ii, dd in enumerate(query_dates):
    query_date = dd

    for slot in timeslots:  
#             print(slot)

        # prep query string for each timeslot (for last timeslot, query is "till" end; for others it's "before")
        # if slot == timeslots[-1]:
        # qrs = query_str.replace("2021-12-31", query_date).replace(
            # "T00:00:00", slot[0]).replace("T24:00:00", slot[1]).replace("before", "till")
        # else:
        qrs = query_str.replace("2021-12-31", query_date).replace(
            "T00:00:00", slot[0]).replace("T24:00:00", slot[1])

#             print(qrs)

        # Execute the query
        bqresult = run_bitquery(API_key=API_key, querystr=qrs)            
#             print(bqresult)

        # put query return into dataframe
        ta = bqresult['data']['solana']['transfers']
        if len(ta) == 0:
            print("")
            print(bcolors.FAIL + "WARNING: Request for " + query_date + " " + str(slot) + " is empty" + bcolors.ENDC)
            print("")            
            continue
        for indx in range(len(ta)):
            df_gst_out = pd.concat([df_gst_out, pd.DataFrame([{
                'blocktime': ta[indx]['block']['timestamp']['unixtime'],
                'amount': ta[indx]['amount'],
                'mint': ta[indx]['currency']['address'],
                'decimals': ta[indx]['currency']['decimals'],
                'symbol': ta[indx]['currency']['symbol'],
                'sender': ta[indx]['sender']['address'], 
                'sender_token_account': ta[indx]['sender']['mintAccount'],                
                'receiver': ta[indx]['receiver']['address'], 
                'receiver_token_account': ta[indx]['receiver']['mintAccount'],
                'signature': ta[indx]['transaction']['signature']
            }])])

        # clean up DF
        df_gst_out.sort_values(by='blocktime', inplace=True)
        df_gst_out['datetime'] = pd.to_datetime(df_gst_out['blocktime'], unit='s')
        df_gst_out = df_gst_out.reindex(columns=[
            'datetime', 'blocktime', 'amount', 'mint', 'decimals', 'symbol', 'sender', 
            'sender_token_account', 'receiver', 'receiver_token_account', 'signature'])

        # save in DB
#             print(df_gst_out)
        df_gst_out.to_sql(name=db_table_name, con=db_connection, if_exists='append', index=False)
        print(ii, dd, slot)
        print('transfers for the period: ', len(df_gst_out))

        # reset df_gst_out
#         df_gst_out = pd.DataFrame()

WARNING: Request for 2022-06-01 ['T12:53:40', 'T13:00:00'] is empty


WARNING: Request for 2022-06-01 ['T13:00:00', 'T14:00:00'] is empty


WARNING: Request for 2022-06-01 ['T14:00:00', 'T15:00:00'] is empty


WARNING: Request for 2022-06-01 ['T15:00:00', 'T16:00:00'] is empty


WARNING: Request for 2022-06-01 ['T16:00:00', 'T17:00:00'] is empty


WARNING: Request for 2022-06-01 ['T17:00:00', 'T18:00:00'] is empty


WARNING: Request for 2022-06-01 ['T18:00:00', 'T19:00:00'] is empty


WARNING: Request for 2022-06-01 ['T19:00:00', 'T20:00:00'] is empty


WARNING: Request for 2022-06-01 ['T20:00:00', 'T21:00:00'] is empty


WARNING: Request for 2022-06-01 ['T21:00:00', 'T22:00:00'] is empty


WARNING: Request for 2022-06-01 ['T22:00:00', 'T23:00:00'] is empty


WARNING: Request for 2022-06-01 ['T23:00:00', 'T24:00:00'] is empty

#### queries

In [ ]:
# total users created (number of associated accounts created): COUNT TRANSACTION WHERE ALL OF BELOW HAPPED IN ONE tx

    ## associated token program [ATokenGPvbdGVxr1b2hvZbsiqW5xWH25efTNsLJA8knL]: CREATE
        # MINT: AFbX8oGjGpmVFywbVouvhQSRmiW2aR1mohfahi4Y2AdB
        # ACCOUNT: NOT HLS5Y68QSQgJP7wUbbbbCjEnMknVZrHXYDwwVaDcsdK7
        # WALLET: NOT STEPNq2UGeGSzCyGVr2nMQAzf8xuejwqebd84wcksCK
        
        ## system program: CREATE ACCOUNT
            # FROM ADDRESS: NOT STEPNq2UGeGSzCyGVr2nMQAzf8xuejwqebd84wcksCK
            
        ## token program: INITIALIZE ACCOUNT
            # MINT: AFbX8oGjGpmVFywbVouvhQSRmiW2aR1mohfahi4Y2AdB            
            
    ## TOKEN PROGRAM [TokenkegQfeZyiNwAJbNbGKPFXCWuBvf9Ss623VQ5DA]: TRANSFER (CHECKED)
        # AUTHORITY: STEPNq2UGeGSzCyGVr2nMQAzf8xuejwqebd84wcksCK
        # MINT: AFbX8oGjGpmVFywbVouvhQSRmiW2aR1mohfahi4Y2AdB
        # SOURCE: HLS5Y68QSQgJP7wUbbbbCjEnMknVZrHXYDwwVaDcsdK7
    


# total burned



# total in treasury