# Using Bitquery GraphQL API
community support: https://community.bitquery.io

In [2]:
# prep
from sqlalchemy import create_engine
import pymysql, sys
import numpy as np
import json, pprint, json, requests#, multiprocessing
from datetime import datetime
import pandas as pd
sys.path.append('/home/lstm/Github/jp-codes-ubuntu/modules/') 
from ipynb.fs.defs.module_ju_utils import bcolors

mint_address_GST = 'AFbX8oGjGpmVFywbVouvhQSRmiW2aR1mohfahi4Y2AdB'  # GST mint
mint_address_GMT = '7i5KKsX2weiTkry7jA4ZwSuXGhs5eJBEjY8vVxR4pfRx'  # GMT mint
auth_address = 'STEPNq2UGeGSzCyGVr2nMQAzf8xuejwqebd84wcksCK'  # STEPN wallet

db_connection_str = 'mysql+pymysql://crypto:trackcrack@192.168.0.2/crypto'  # connect to 'crypto' database in B150M
db_connection = create_engine(db_connection_str)
conn = db_connection.connect()

tablename_gst_out = 'stepn_solana_gst_out_bitquery'
tablename_gst_in = 'stepn_solana_gst_in_bitquery'

API_key = "BQYqISAGCYfoDCPjnoX7BmQZiw3qABkn"  # gmail
# API_key = "BQYCF0KrTkp1212p3OsUSB6mcSRB3DUV"  # jp@wadilt

## define getter functions

In [3]:
def run_bitquery(API_key='', querystr=''):  # simple function to use requests.post to make the API call.
    headers = {'X-API-KEY': API_key}
    
    try:
        request = requests.post('https://graphql.bitquery.io/',
                                json={'query': querystr}, headers=headers)        
        if request.status_code == 200:
            return request.json()
        else:
            print(request)
                            
    except Exception as e:
        print(e)
            

def run_bitquery_loop(query_dates=None, timeslots=None, db_table_name='', db_connection=None, query_str=''):
    
    df_gst_out = pd.DataFrame()
    for ii, dd in enumerate(query_dates):
        query_date = dd
        
        for slot in timeslots:  
#             print(slot)
            
            # prep query string for each timeslot (for last timeslot, query is "till" end; for others it's "before")
            # if slot == timeslots[-1]:
            # qrs = query_str.replace("2021-12-31", query_date).replace(
                # "T00:00:00", slot[0]).replace("T24:00:00", slot[1]).replace("before", "till")
            # else:
            qrs = query_str.replace("2021-12-31", query_date).replace(
                "T00:00:00", slot[0]).replace("T24:00:00", slot[1])
                
#             print(qrs)
            
            # Execute the query
            bqresult = run_bitquery(API_key=API_key, querystr=qrs)            
#             print(bqresult)
        
            # put query return into dataframe
            ta = bqresult['data']['solana']['transfers']
            if len(ta) == 0:
                print("")
                print(f"{bcolors.FAIL}WARNING: Request for ", query_date, slot, " is empty{bcolors.ENDC}")
                print("")
                continue            
            for indx in range(len(ta)):                
                df_gst_out = pd.concat([df_gst_out, pd.DataFrame([{
                    'blocktime': ta[indx]['block']['timestamp']['unixtime'],
                    'amount': ta[indx]['amount'],
                    'mint': ta[indx]['currency']['address'],
                    'decimals': ta[indx]['currency']['decimals'],
                    'symbol': ta[indx]['currency']['symbol'],
                    'sender': ta[indx]['sender']['address'], 
                    'sender_token_account': ta[indx]['sender']['mintAccount'],                
                    'receiver': ta[indx]['receiver']['address'], 
                    'receiver_token_account': ta[indx]['receiver']['mintAccount'],
                    'signature': ta[indx]['transaction']['signature']
                }])])

            # clean up DF
            df_gst_out.sort_values(by='blocktime', inplace=True)
            df_gst_out['datetime'] = pd.to_datetime(df_gst_out['blocktime'], unit='s')
            df_gst_out = df_gst_out.reindex(columns=[
                'datetime', 'blocktime', 'amount', 'mint', 'decimals', 'symbol', 'sender', 
                'sender_token_account', 'receiver', 'receiver_token_account', 'signature'])

            # save in DB
#             print(df_gst_out)
            df_gst_out.to_sql(name=db_table_name, con=db_connection, if_exists='append', index=False)
            print(ii, dd, slot)
            print('transfers for the period: ', len(df_gst_out))

            # reset df_gst_out
            df_gst_out = pd.DataFrame()

## query:  all GST sent from STEPN auth on a given day

### define query

In [4]:
query_string = """
query{
  solana {
    transfers(
      currency: {is: "AFbX8oGjGpmVFywbVouvhQSRmiW2aR1mohfahi4Y2AdB"}
      time: {since: "2021-12-31T00:00:00", before: "2021-12-31T24:00:00"}
      senderAddress: {is: "STEPNq2UGeGSzCyGVr2nMQAzf8xuejwqebd84wcksCK"}
    ) {
      amount
      currency {
        address
        symbol
        decimals
      }      
      sender {
        address
        mintAccount
      }      
      receiver {
        address
        mintAccount
      }      
      transaction {
        signature
      }
      block {
        timestamp {
          unixtime
        }
      }
    }
  }
}
"""
pprint.pprint(query_string)

('\n'
 'query{\n'
 '  solana {\n'
 '    transfers(\n'
 '      currency: {is: "AFbX8oGjGpmVFywbVouvhQSRmiW2aR1mohfahi4Y2AdB"}\n'
 '      time: {since: "2021-12-31T00:00:00", before: "2021-12-31T24:00:00"}\n'
 '      senderAddress: {is: "STEPNq2UGeGSzCyGVr2nMQAzf8xuejwqebd84wcksCK"}\n'
 '    ) {\n'
 '      amount\n'
 '      currency {\n'
 '        address\n'
 '        symbol\n'
 '        decimals\n'
 '      }      \n'
 '      sender {\n'
 '        address\n'
 '        mintAccount\n'
 '      }      \n'
 '      receiver {\n'
 '        address\n'
 '        mintAccount\n'
 '      }      \n'
 '      transaction {\n'
 '        signature\n'
 '      }\n'
 '      block {\n'
 '        timestamp {\n'
 '          unixtime\n'
 '        }\n'
 '      }\n'
 '    }\n'
 '  }\n'
 '}\n')

### define date ranges to query

#### in reverse order for 2022-12

In [ ]:
query_dates = [d.strftime('%Y-%m-%d') for d in pd.date_range('20211201', '20211231')]
query_dates.reverse()

#### in normal order thereafter, by 24-hr increments

In [ ]:
query_dates = [d.strftime('%Y-%m-%d') for d in pd.date_range('20220408', '20220408')]
query_times = [["T00:00:00", "T24:00:00"]]

#### in normal order thereafter, by 6-hr increments

In [ ]:
query_dates = [d.strftime('%Y-%m-%d') for d in pd.date_range('20220417', '20220531')]
query_times = [
    ["T00:00:00", "T06:00:00"], ["T06:00:00", "T12:00:00"], ["T12:00:00", "T18:00:00"], ["T18:00:00", "T24:00:00"]
]

#### in normal order thereafter, by 3-hr increments

In [ ]:
query_dates = [d.strftime('%Y-%m-%d') for d in pd.date_range('20220420', '20220531')]
query_times = [
    ["T00:00:00", "T03:00:00"], ["T03:00:00", "T06:00:00"], ["T06:00:00", "T09:00:00"], ["T09:00:00", "T12:00:00"],
    ["T12:00:00", "T15:00:00"], ["T15:00:00", "T18:00:00"], ["T18:00:00", "T21:00:00"], ["T21:00:00", "T24:00:00"]
]

#### in normal order thereafter, by 1-hr increments

In [6]:
query_dates = [d.strftime('%Y-%m-%d') for d in pd.date_range('20220430', '20220531')]
query_times = [
    ["T09:00:00", "T10:00:00"], 
    ["T10:00:00", "T11:00:00"], ["T11:00:00", "T12:00:00"], ["T12:00:00", "T13:00:00"], ["T13:00:00", "T14:00:00"], ["T14:00:00", "T15:00:00"], 
    ["T15:00:00", "T16:00:00"], ["T16:00:00", "T17:00:00"], ["T17:00:00", "T18:00:00"], ["T18:00:00", "T19:00:00"], ["T19:00:00", "T20:00:00"], 
    ["T20:00:00", "T21:00:00"], ["T21:00:00", "T22:00:00"], ["T22:00:00", "T23:00:00"], ["T23:00:00", "T24:00:00"]
]

In [ ]:
# for testing
# query_dates = [d.strftime('%Y-%m-%d') for d in pd.date_range('20220331', '20220531')]
# query_times = [["T00:00:00", "T01:00:00"], ["T01:00:00", "T02:00:00"]]

### run query w/ Bitquery API --> save in DB

In [7]:
db_table_name = 'stepn_solana_gst_out_bitquery'
run_bitquery_loop(query_dates=query_dates, timeslots=query_times, db_table_name=db_table_name, 
                  db_connection=conn, query_str=query_string)

0 2022-04-30 ['T09:00:00', 'T10:00:00']
transfers for the period:  6113
0 2022-04-30 ['T10:00:00', 'T11:00:00']
transfers for the period:  3122
0 2022-04-30 ['T11:00:00', 'T12:00:00']
transfers for the period:  3273
0 2022-04-30 ['T12:00:00', 'T13:00:00']
transfers for the period:  3007
0 2022-04-30 ['T13:00:00', 'T14:00:00']
transfers for the period:  5664
0 2022-04-30 ['T14:00:00', 'T15:00:00']
transfers for the period:  4504
0 2022-04-30 ['T15:00:00', 'T16:00:00']
transfers for the period:  5245
0 2022-04-30 ['T16:00:00', 'T17:00:00']
transfers for the period:  4152
0 2022-04-30 ['T17:00:00', 'T18:00:00']
transfers for the period:  4113
0 2022-04-30 ['T18:00:00', 'T19:00:00']
transfers for the period:  3934
0 2022-04-30 ['T19:00:00', 'T20:00:00']
transfers for the period:  3047

WARNING: Request for  2022-04-30 ['T20:00:00', 'T21:00:00']  is empty{bcolors.ENDC}


WARNING: Request for  2022-04-30 ['T21:00:00', 'T22:00:00']  is empty{bcolors.ENDC}


WARNING: Request for  2022-04-30 ['T22:00:00', 'T23:00:00']  is empty{bcolors.ENDC}

0 2022-04-30 ['T23:00:00', 'T24:00:00']
transfers for the period:  546
1 2022-05-01 ['T09:00:00', 'T10:00:00']
transfers for the period:  3297
1 2022-05-01 ['T10:00:00', 'T11:00:00']
transfers for the period:  4629
1 2022-05-01 ['T11:00:00', 'T12:00:00']
transfers for the period:  6525
1 2022-05-01 ['T12:00:00', 'T13:00:00']
transfers for the period:  4162
1 2022-05-01 ['T13:00:00', 'T14:00:00']
transfers for the period:  4049
1 2022-05-01 ['T14:00:00', 'T15:00:00']
transfers for the period:  3560
1 2022-05-01 ['T15:00:00', 'T16:00:00']
transfers for the period:  3249
1 2022-05-01 ['T16:00:00', 'T17:00:00']
transfers for the period:  3428
1 2022-05-01 ['T17:00:00', 'T18:00:00']
transfers for the period:  2496
1 2022-05-01 ['T18:00:00', 'T19:00:00']
transfers for the period:  7269
1 2022-05-01 ['T19:00:00', 'T20:00:00']
transfers for the period:  3723
1 2022-05-01 ['T20:00:00', 'T21:00:00']
transfers for the period:  2583
1 2022-05-01 ['T21:00:00', 'T22:00:00']
transfers for the period:  2069
1 2022-05-01 ['T22:00:00', 'T23:00:00']
transfers for the period:  1771
1 2022-05-01 ['T23:00:00', 'T24:00:00']
transfers for the period:  7699
2 2022-05-02 ['T09:00:00', 'T10:00:00']
transfers for the period:  6208
2 2022-05-02 ['T10:00:00', 'T11:00:00']
transfers for the period:  5762
2 2022-05-02 ['T11:00:00', 'T12:00:00']
transfers for the period:  4987
2 2022-05-02 ['T12:00:00', 'T13:00:00']
transfers for the period:  4243
2 2022-05-02 ['T13:00:00', 'T14:00:00']
transfers for the period:  10757
2 2022-05-02 ['T14:00:00', 'T15:00:00']
transfers for the period:  8795
2 2022-05-02 ['T15:00:00', 'T16:00:00']
transfers for the period:  6878
2 2022-05-02 ['T16:00:00', 'T17:00:00']
transfers for the period:  6602
2 2022-05-02 ['T17:00:00', 'T18:00:00']
transfers for the period:  4714
2 2022-05-02 ['T18:00:00', 'T19:00:00']
transfers for the period:  3630
2 2022-05-02 ['T19:00:00', 'T20:00:00']
transfers for the period:  8393
2 2022-05-02 ['T20:00:00', 'T21:00:00']
transfers for the period:  5720
2 2022-05-02 ['T21:00:00', 'T22:00:00']
transfers for the period:  3199
2 2022-05-02 ['T22:00:00', 'T23:00:00']
transfers for the period:  2299
2 2022-05-02 ['T23:00:00', 'T24:00:00']
transfers for the period:  2045
3 2022-05-03 ['T09:00:00', 'T10:00:00']
transfers for the period:  5888
3 2022-05-03 ['T10:00:00', 'T11:00:00']
transfers for the period:  5458
3 2022-05-03 ['T11:00:00', 'T12:00:00']
transfers for the period:  4971
3 2022-05-03 ['T12:00:00', 'T13:00:00']
transfers for the period:  4534
3 2022-05-03 ['T13:00:00', 'T14:00:00']
transfers for the period:  15693
3 2022-05-03 ['T14:00:00', 'T15:00:00']
transfers for the period:  10411
3 2022-05-03 ['T15:00:00', 'T16:00:00']
transfers for the period:  7768
3 2022-05-03 ['T16:00:00', 'T17:00:00']
transfers for the period:  5879
3 2022-05-03 ['T17:00:00', 'T18:00:00']
transfers for the period:  4779
3 2022-05-03 ['T18:00:00', 'T19:00:00']
transfers for the period:  3572
3 2022-05-03 ['T19:00:00', 'T20:00:00']
transfers for the period:  11144
3 2022-05-03 ['T20:00:00', 'T21:00:00']
transfers for the period:  5768
3 2022-05-03 ['T21:00:00', 'T22:00:00']
transfers for the period:  3885
3 2022-05-03 ['T22:00:00', 'T23:00:00']
transfers for the period:  2790
3 2022-05-03 ['T23:00:00', 'T24:00:00']
transfers for the period:  2463
4 2022-05-04 ['T09:00:00', 'T10:00:00']
transfers for the period:  5799
4 2022-05-04 ['T10:00:00', 'T11:00:00']
transfers for the period:  5805
4 2022-05-04 ['T11:00:00', 'T12:00:00']
transfers for the period:  5625
4 2022-05-04 ['T12:00:00', 'T13:00:00']
transfers for the period:  4815
4 2022-05-04 ['T13:00:00', 'T14:00:00']
transfers for the period:  17129
4 2022-05-04 ['T14:00:00', 'T15:00:00']
transfers for the period:  11241
4 2022-05-04 ['T15:00:00', 'T16:00:00']
transfers for the period:  7290
4 2022-05-04 ['T16:00:00', 'T17:00:00']
transfers for the period:  5396
4 2022-05-04 ['T17:00:00', 'T18:00:00']
transfers for the period:  4292
4 2022-05-04 ['T18:00:00', 'T19:00:00']
transfers for the period:  2704
4 2022-05-04 ['T19:00:00', 'T20:00:00']
transfers for the period:  10277
4 2022-05-04 ['T20:00:00', 'T21:00:00']
transfers for the period:  5579
4 2022-05-04 ['T21:00:00', 'T22:00:00']
transfers for the period:  3129
4 2022-05-04 ['T22:00:00', 'T23:00:00']
transfers for the period:  2658
4 2022-05-04 ['T23:00:00', 'T24:00:00']
transfers for the period:  2098
5 2022-05-05 ['T09:00:00', 'T10:00:00']
transfers for the period:  5050
5 2022-05-05 ['T10:00:00', 'T11:00:00']
transfers for the period:  4861
5 2022-05-05 ['T11:00:00', 'T12:00:00']
transfers for the period:  4631
5 2022-05-05 ['T12:00:00', 'T13:00:00']
transfers for the period:  3410
5 2022-05-05 ['T13:00:00', 'T14:00:00']
transfers for the period:  834
5 2022-05-05 ['T14:00:00', 'T15:00:00']
transfers for the period:  7787
5 2022-05-05 ['T15:00:00', 'T16:00:00']
transfers for the period:  10422
5 2022-05-05 ['T16:00:00', 'T17:00:00']
transfers for the period:  11187
5 2022-05-05 ['T17:00:00', 'T18:00:00']
transfers for the period:  6693
5 2022-05-05 ['T18:00:00', 'T19:00:00']
transfers for the period:  3339
5 2022-05-05 ['T19:00:00', 'T20:00:00']
transfers for the period:  9779
5 2022-05-05 ['T20:00:00', 'T21:00:00']
transfers for the period:  7106
5 2022-05-05 ['T21:00:00', 'T22:00:00']
transfers for the period:  3408
5 2022-05-05 ['T22:00:00', 'T23:00:00']
transfers for the period:  2717
5 2022-05-05 ['T23:00:00', 'T24:00:00']
transfers for the period:  2469
6 2022-05-06 ['T09:00:00', 'T10:00:00']
transfers for the period:  5278
6 2022-05-06 ['T10:00:00', 'T11:00:00']
transfers for the period:  4917
6 2022-05-06 ['T11:00:00', 'T12:00:00']
transfers for the period:  4742
6 2022-05-06 ['T12:00:00', 'T13:00:00']
transfers for the period:  4401
6 2022-05-06 ['T13:00:00', 'T14:00:00']
transfers for the period:  11301
6 2022-05-06 ['T14:00:00', 'T15:00:00']
transfers for the period:  10451
6 2022-05-06 ['T15:00:00', 'T16:00:00']
transfers for the period:  7996
6 2022-05-06 ['T16:00:00', 'T17:00:00']
transfers for the period:  6602
6 2022-05-06 ['T17:00:00', 'T18:00:00']
transfers for the period:  4421
6 2022-05-06 ['T18:00:00', 'T19:00:00']
transfers for the period:  2039
6 2022-05-06 ['T19:00:00', 'T20:00:00']
transfers for the period:  7838
6 2022-05-06 ['T20:00:00', 'T21:00:00']
transfers for the period:  7362
6 2022-05-06 ['T21:00:00', 'T22:00:00']
transfers for the period:  4040
6 2022-05-06 ['T22:00:00', 'T23:00:00']
transfers for the period:  3005
6 2022-05-06 ['T23:00:00', 'T24:00:00']
transfers for the period:  2470
7 2022-05-07 ['T09:00:00', 'T10:00:00']
transfers for the period:  5997
7 2022-05-07 ['T10:00:00', 'T11:00:00']
transfers for the period:  5296
7 2022-05-07 ['T11:00:00', 'T12:00:00']
transfers for the period:  4893
7 2022-05-07 ['T12:00:00', 'T13:00:00']
transfers for the period:  4286
7 2022-05-07 ['T13:00:00', 'T14:00:00']
transfers for the period:  13234
7 2022-05-07 ['T14:00:00', 'T15:00:00']
transfers for the period:  9753
7 2022-05-07 ['T15:00:00', 'T16:00:00']
transfers for the period:  6865
7 2022-05-07 ['T16:00:00', 'T17:00:00']
transfers for the period:  5750
7 2022-05-07 ['T17:00:00', 'T18:00:00']
transfers for the period:  4084
7 2022-05-07 ['T18:00:00', 'T19:00:00']
transfers for the period:  2961
7 2022-05-07 ['T19:00:00', 'T20:00:00']
transfers for the period:  10389
7 2022-05-07 ['T20:00:00', 'T21:00:00']
transfers for the period:  5624
7 2022-05-07 ['T21:00:00', 'T22:00:00']
transfers for the period:  3801
7 2022-05-07 ['T22:00:00', 'T23:00:00']
transfers for the period:  2358
7 2022-05-07 ['T23:00:00', 'T24:00:00']
transfers for the period:  3077
8 2022-05-08 ['T09:00:00', 'T10:00:00']
transfers for the period:  5547
8 2022-05-08 ['T10:00:00', 'T11:00:00']
transfers for the period:  5383
8 2022-05-08 ['T11:00:00', 'T12:00:00']
transfers for the period:  4831
8 2022-05-08 ['T12:00:00', 'T13:00:00']
transfers for the period:  4917
8 2022-05-08 ['T13:00:00', 'T14:00:00']
transfers for the period:  14121
8 2022-05-08 ['T14:00:00', 'T15:00:00']
transfers for the period:  10526
8 2022-05-08 ['T15:00:00', 'T16:00:00']
transfers for the period:  7544
8 2022-05-08 ['T16:00:00', 'T17:00:00']
transfers for the period:  5563
8 2022-05-08 ['T17:00:00', 'T18:00:00']
transfers for the period:  3319
8 2022-05-08 ['T18:00:00', 'T19:00:00']
transfers for the period:  4484
8 2022-05-08 ['T19:00:00', 'T20:00:00']
transfers for the period:  9800
8 2022-05-08 ['T20:00:00', 'T21:00:00']
transfers for the period:  6993
8 2022-05-08 ['T21:00:00', 'T22:00:00']
transfers for the period:  4722
8 2022-05-08 ['T22:00:00', 'T23:00:00']
transfers for the period:  3184
8 2022-05-08 ['T23:00:00', 'T24:00:00']
transfers for the period:  2331
9 2022-05-09 ['T09:00:00', 'T10:00:00']
transfers for the period:  6150
9 2022-05-09 ['T10:00:00', 'T11:00:00']
transfers for the period:  5115
9 2022-05-09 ['T11:00:00', 'T12:00:00']
transfers for the period:  7582
9 2022-05-09 ['T12:00:00', 'T13:00:00']
transfers for the period:  6028
9 2022-05-09 ['T13:00:00', 'T14:00:00']
transfers for the period:  12278
9 2022-05-09 ['T14:00:00', 'T15:00:00']
transfers for the period:  9511
9 2022-05-09 ['T15:00:00', 'T16:00:00']
transfers for the period:  6664
9 2022-05-09 ['T16:00:00', 'T17:00:00']
transfers for the period:  4055
9 2022-05-09 ['T17:00:00', 'T18:00:00']
transfers for the period:  4703
9 2022-05-09 ['T18:00:00', 'T19:00:00']
transfers for the period:  3157
9 2022-05-09 ['T19:00:00', 'T20:00:00']
transfers for the period:  6010
9 2022-05-09 ['T20:00:00', 'T21:00:00']
transfers for the period:  5810
9 2022-05-09 ['T21:00:00', 'T22:00:00']
transfers for the period:  10372
9 2022-05-09 ['T22:00:00', 'T23:00:00']
transfers for the period:  4905
9 2022-05-09 ['T23:00:00', 'T24:00:00']
transfers for the period:  3955
10 2022-05-10 ['T09:00:00', 'T10:00:00']
transfers for the period:  5263
10 2022-05-10 ['T10:00:00', 'T11:00:00']
transfers for the period:  4949
10 2022-05-10 ['T11:00:00', 'T12:00:00']
transfers for the period:  4670
10 2022-05-10 ['T12:00:00', 'T13:00:00']
transfers for the period:  6331
10 2022-05-10 ['T13:00:00', 'T14:00:00']
transfers for the period:  10124
10 2022-05-10 ['T14:00:00', 'T15:00:00']
transfers for the period:  9347
10 2022-05-10 ['T15:00:00', 'T16:00:00']
transfers for the period:  11806
10 2022-05-10 ['T16:00:00', 'T17:00:00']
transfers for the period:  9765
10 2022-05-10 ['T17:00:00', 'T18:00:00']
transfers for the period:  6279
10 2022-05-10 ['T18:00:00', 'T19:00:00']
transfers for the period:  4300
10 2022-05-10 ['T19:00:00', 'T20:00:00']
transfers for the period:  10183
10 2022-05-10 ['T20:00:00', 'T21:00:00']
transfers for the period:  7685
10 2022-05-10 ['T21:00:00', 'T22:00:00']
transfers for the period:  4136
10 2022-05-10 ['T22:00:00', 'T23:00:00']
transfers for the period:  2962
10 2022-05-10 ['T23:00:00', 'T24:00:00']
transfers for the period:  3009
11 2022-05-11 ['T09:00:00', 'T10:00:00']
transfers for the period:  7412
11 2022-05-11 ['T10:00:00', 'T11:00:00']
transfers for the period:  6610
11 2022-05-11 ['T11:00:00', 'T12:00:00']
transfers for the period:  5902
11 2022-05-11 ['T12:00:00', 'T13:00:00']
transfers for the period:  3938
11 2022-05-11 ['T13:00:00', 'T14:00:00']
transfers for the period:  4167
11 2022-05-11 ['T14:00:00', 'T15:00:00']
transfers for the period:  5913
11 2022-05-11 ['T15:00:00', 'T16:00:00']
transfers for the period:  7016
11 2022-05-11 ['T16:00:00', 'T17:00:00']
transfers for the period:  6925
11 2022-05-11 ['T17:00:00', 'T18:00:00']
transfers for the period:  7536
11 2022-05-11 ['T18:00:00', 'T19:00:00']
transfers for the period:  8300
11 2022-05-11 ['T19:00:00', 'T20:00:00']
transfers for the period:  7567
11 2022-05-11 ['T20:00:00', 'T21:00:00']
transfers for the period:  7674
11 2022-05-11 ['T21:00:00', 'T22:00:00']
transfers for the period:  6580
11 2022-05-11 ['T22:00:00', 'T23:00:00']
transfers for the period:  10544
11 2022-05-11 ['T23:00:00', 'T24:00:00']
transfers for the period:  7856
12 2022-05-12 ['T09:00:00', 'T10:00:00']
transfers for the period:  6995
12 2022-05-12 ['T10:00:00', 'T11:00:00']
transfers for the period:  6345
12 2022-05-12 ['T11:00:00', 'T12:00:00']
transfers for the period:  6624
12 2022-05-12 ['T12:00:00', 'T13:00:00']
transfers for the period:  6217
12 2022-05-12 ['T13:00:00', 'T14:00:00']
transfers for the period:  8833
12 2022-05-12 ['T14:00:00', 'T15:00:00']
transfers for the period:  8203
12 2022-05-12 ['T15:00:00', 'T16:00:00']
transfers for the period:  7245
12 2022-05-12 ['T16:00:00', 'T17:00:00']
transfers for the period:  8286
12 2022-05-12 ['T17:00:00', 'T18:00:00']
transfers for the period:  6730
12 2022-05-12 ['T18:00:00', 'T19:00:00']
transfers for the period:  3307
12 2022-05-12 ['T19:00:00', 'T20:00:00']
transfers for the period:  8097
12 2022-05-12 ['T20:00:00', 'T21:00:00']
transfers for the period:  7433
12 2022-05-12 ['T21:00:00', 'T22:00:00']
transfers for the period:  4651
12 2022-05-12 ['T22:00:00', 'T23:00:00']
transfers for the period:  4913
12 2022-05-12 ['T23:00:00', 'T24:00:00']
transfers for the period:  3144
13 2022-05-13 ['T09:00:00', 'T10:00:00']
transfers for the period:  6239
13 2022-05-13 ['T10:00:00', 'T11:00:00']
transfers for the period:  6480
13 2022-05-13 ['T11:00:00', 'T12:00:00']
transfers for the period:  5417
13 2022-05-13 ['T12:00:00', 'T13:00:00']
transfers for the period:  5023
13 2022-05-13 ['T13:00:00', 'T14:00:00']
transfers for the period:  7234
13 2022-05-13 ['T14:00:00', 'T15:00:00']
transfers for the period:  7042
13 2022-05-13 ['T15:00:00', 'T16:00:00']
transfers for the period:  7926
13 2022-05-13 ['T16:00:00', 'T17:00:00']
transfers for the period:  7637
13 2022-05-13 ['T17:00:00', 'T18:00:00']
transfers for the period:  7644
13 2022-05-13 ['T18:00:00', 'T19:00:00']
transfers for the period:  7112
13 2022-05-13 ['T19:00:00', 'T20:00:00']
transfers for the period:  7997
13 2022-05-13 ['T20:00:00', 'T21:00:00']
transfers for the period:  8440
13 2022-05-13 ['T21:00:00', 'T22:00:00']
transfers for the period:  8623
13 2022-05-13 ['T22:00:00', 'T23:00:00']
transfers for the period:  7721
13 2022-05-13 ['T23:00:00', 'T24:00:00']
transfers for the period:  3537
14 2022-05-14 ['T09:00:00', 'T10:00:00']
transfers for the period:  6018
14 2022-05-14 ['T10:00:00', 'T11:00:00']
transfers for the period:  5895
14 2022-05-14 ['T11:00:00', 'T12:00:00']
transfers for the period:  5036
14 2022-05-14 ['T12:00:00', 'T13:00:00']
transfers for the period:  5600
14 2022-05-14 ['T13:00:00', 'T14:00:00']
transfers for the period:  13088
14 2022-05-14 ['T14:00:00', 'T15:00:00']
transfers for the period:  11127
14 2022-05-14 ['T15:00:00', 'T16:00:00']
transfers for the period:  7986
14 2022-05-14 ['T16:00:00', 'T17:00:00']
transfers for the period:  4517
14 2022-05-14 ['T17:00:00', 'T18:00:00']
transfers for the period:  4942
14 2022-05-14 ['T18:00:00', 'T19:00:00']
transfers for the period:  4185
14 2022-05-14 ['T19:00:00', 'T20:00:00']
transfers for the period:  12560
14 2022-05-14 ['T20:00:00', 'T21:00:00']
transfers for the period:  6577
14 2022-05-14 ['T21:00:00', 'T22:00:00']
transfers for the period:  4388
14 2022-05-14 ['T22:00:00', 'T23:00:00']
transfers for the period:  3124
14 2022-05-14 ['T23:00:00', 'T24:00:00']
transfers for the period:  2687
15 2022-05-15 ['T09:00:00', 'T10:00:00']
transfers for the period:  6519
15 2022-05-15 ['T10:00:00', 'T11:00:00']
transfers for the period:  6033
15 2022-05-15 ['T11:00:00', 'T12:00:00']
transfers for the period:  5431
15 2022-05-15 ['T12:00:00', 'T13:00:00']
transfers for the period:  5716
15 2022-05-15 ['T13:00:00', 'T14:00:00']
transfers for the period:  15453
15 2022-05-15 ['T14:00:00', 'T15:00:00']
transfers for the period:  12081
15 2022-05-15 ['T15:00:00', 'T16:00:00']
transfers for the period:  8529
15 2022-05-15 ['T16:00:00', 'T17:00:00']
transfers for the period:  6970
15 2022-05-15 ['T17:00:00', 'T18:00:00']
transfers for the period:  4978
15 2022-05-15 ['T18:00:00', 'T19:00:00']
transfers for the period:  4481
15 2022-05-15 ['T19:00:00', 'T20:00:00']
transfers for the period:  15430
15 2022-05-15 ['T20:00:00', 'T21:00:00']
transfers for the period:  7195
15 2022-05-15 ['T21:00:00', 'T22:00:00']
transfers for the period:  5420
15 2022-05-15 ['T22:00:00', 'T23:00:00']
transfers for the period:  3313
15 2022-05-15 ['T23:00:00', 'T24:00:00']
transfers for the period:  3098
16 2022-05-16 ['T09:00:00', 'T10:00:00']
transfers for the period:  5268
16 2022-05-16 ['T10:00:00', 'T11:00:00']
transfers for the period:  5872
16 2022-05-16 ['T11:00:00', 'T12:00:00']
transfers for the period:  5765
16 2022-05-16 ['T12:00:00', 'T13:00:00']
transfers for the period:  4891
16 2022-05-16 ['T13:00:00', 'T14:00:00']
transfers for the period:  12434
16 2022-05-16 ['T14:00:00', 'T15:00:00']
transfers for the period:  13225
16 2022-05-16 ['T15:00:00', 'T16:00:00']
transfers for the period:  10703
16 2022-05-16 ['T16:00:00', 'T17:00:00']
transfers for the period:  7788
16 2022-05-16 ['T17:00:00', 'T18:00:00']
transfers for the period:  7107
16 2022-05-16 ['T18:00:00', 'T19:00:00']
transfers for the period:  4698
16 2022-05-16 ['T19:00:00', 'T20:00:00']
transfers for the period:  13538
16 2022-05-16 ['T20:00:00', 'T21:00:00']
transfers for the period:  8195
16 2022-05-16 ['T21:00:00', 'T22:00:00']
transfers for the period:  3584
16 2022-05-16 ['T22:00:00', 'T23:00:00']
transfers for the period:  3367
16 2022-05-16 ['T23:00:00', 'T24:00:00']
transfers for the period:  3126
17 2022-05-17 ['T09:00:00', 'T10:00:00']
transfers for the period:  7561
17 2022-05-17 ['T10:00:00', 'T11:00:00']
transfers for the period:  7161
17 2022-05-17 ['T11:00:00', 'T12:00:00']
transfers for the period:  5399
17 2022-05-17 ['T12:00:00', 'T13:00:00']
transfers for the period:  5926
17 2022-05-17 ['T13:00:00', 'T14:00:00']
transfers for the period:  10445
17 2022-05-17 ['T14:00:00', 'T15:00:00']
transfers for the period:  10244
17 2022-05-17 ['T15:00:00', 'T16:00:00']
transfers for the period:  10005
17 2022-05-17 ['T16:00:00', 'T17:00:00']
transfers for the period:  7967
17 2022-05-17 ['T17:00:00', 'T18:00:00']
transfers for the period:  9960
17 2022-05-17 ['T18:00:00', 'T19:00:00']
transfers for the period:  6479
17 2022-05-17 ['T19:00:00', 'T20:00:00']
transfers for the period:  12500
17 2022-05-17 ['T20:00:00', 'T21:00:00']
transfers for the period:  11887
17 2022-05-17 ['T21:00:00', 'T22:00:00']
transfers for the period:  5367
17 2022-05-17 ['T22:00:00', 'T23:00:00']
transfers for the period:  4287
17 2022-05-17 ['T23:00:00', 'T24:00:00']
transfers for the period:  2858
18 2022-05-18 ['T09:00:00', 'T10:00:00']
transfers for the period:  6460
18 2022-05-18 ['T10:00:00', 'T11:00:00']
transfers for the period:  6034
18 2022-05-18 ['T11:00:00', 'T12:00:00']
transfers for the period:  6474
18 2022-05-18 ['T12:00:00', 'T13:00:00']
transfers for the period:  5416
18 2022-05-18 ['T13:00:00', 'T14:00:00']

## all GST sent to STEPN auth on a given day

### define query

In [ ]:
query_string = """
query{
  solana {
    transfers(
      currency: {is: "AFbX8oGjGpmVFywbVouvhQSRmiW2aR1mohfahi4Y2AdB"}      
      time: {since: "2021-12-31T00:00:00", till: "2021-12-31T24:00:00"}
      receiverAddress: {is: "STEPNq2UGeGSzCyGVr2nMQAzf8xuejwqebd84wcksCK"}
    ) {
      amount
      currency {
        address
        symbol
        decimals
      }      
      sender {
        address
        mintAccount
      }      
      receiver {
        address
        mintAccount
      }      
      transaction {
        signature
      }
      block {
        timestamp {
          unixtime
        }
      }
    }
  }
}
"""
pprint.pprint(query_string)

## scratches

#### check for error

In [5]:
query_dates = [d.strftime('%Y-%m-%d') for d in pd.date_range('20220429', '20220429')]
timeslots = [
    ["T12:00:00", "T13:00:00"], ["T13:00:00", "T14:00:00"], ["T14:00:00", "T15:00:00"], 
    ["T15:00:00", "T16:00:00"], ["T16:00:00", "T17:00:00"], ["T17:00:00", "T18:00:00"], ["T18:00:00", "T19:00:00"], ["T19:00:00", "T20:00:00"], 
    ["T20:00:00", "T21:00:00"], ["T21:00:00", "T22:00:00"], ["T22:00:00", "T23:00:00"], ["T23:00:00", "T24:00:00"]
]
# timeslots = [["T09:00:00", "T12:00:00"]]
# ["T01:06:00", "T12:00:00"], ["T12:00:00", "T18:00:00"], ["T18:00:00", "T24:00:00"]]

db_table_name = 'stepn_solana_gst_out_bitquery'
db_connection = conn
query_str = query_string

df_gst_out = pd.DataFrame()
for ii, dd in enumerate(query_dates):
    query_date = dd

    for slot in timeslots:  
#             print(slot)

        # prep query string for each timeslot (for last timeslot, query is "till" end; for others it's "before")
        # if slot == timeslots[-1]:
        # qrs = query_str.replace("2021-12-31", query_date).replace(
            # "T00:00:00", slot[0]).replace("T24:00:00", slot[1]).replace("before", "till")
        # else:
        qrs = query_str.replace("2021-12-31", query_date).replace(
            "T00:00:00", slot[0]).replace("T24:00:00", slot[1])

#             print(qrs)

        # Execute the query
        bqresult = run_bitquery(API_key=API_key, querystr=qrs)            
#             print(bqresult)

        # put query return into dataframe
        ta = bqresult['data']['solana']['transfers']
        if len(ta) == 0:
            print("")
            print(f"{bcolors.FAIL}WARNING: Request for ", query_date, slot, " is empty{bcolors.ENDC}")
            print("")            
            continue
        for indx in range(len(ta)):
            df_gst_out = pd.concat([df_gst_out, pd.DataFrame([{
                'blocktime': ta[indx]['block']['timestamp']['unixtime'],
                'amount': ta[indx]['amount'],
                'mint': ta[indx]['currency']['address'],
                'decimals': ta[indx]['currency']['decimals'],
                'symbol': ta[indx]['currency']['symbol'],
                'sender': ta[indx]['sender']['address'], 
                'sender_token_account': ta[indx]['sender']['mintAccount'],                
                'receiver': ta[indx]['receiver']['address'], 
                'receiver_token_account': ta[indx]['receiver']['mintAccount'],
                'signature': ta[indx]['transaction']['signature']
            }])])

        # clean up DF
        df_gst_out.sort_values(by='blocktime', inplace=True)
        df_gst_out['datetime'] = pd.to_datetime(df_gst_out['blocktime'], unit='s')
        df_gst_out = df_gst_out.reindex(columns=[
            'datetime', 'blocktime', 'amount', 'mint', 'decimals', 'symbol', 'sender', 
            'sender_token_account', 'receiver', 'receiver_token_account', 'signature'])

        # save in DB
#             print(df_gst_out)
        df_gst_out.to_sql(name=db_table_name, con=db_connection, if_exists='append', index=False)
        print(ii, dd, slot)
        print('transfers for the period: ', len(df_gst_out))

        # reset df_gst_out
#         df_gst_out = pd.DataFrame()

0 2022-04-29 ['T12:00:00', 'T13:00:00']
transfers for the period:  7220
0 2022-04-29 ['T13:00:00', 'T14:00:00']
transfers for the period:  19406
0 2022-04-29 ['T14:00:00', 'T15:00:00']
transfers for the period:  32745
0 2022-04-29 ['T15:00:00', 'T16:00:00']
transfers for the period:  41133
0 2022-04-29 ['T16:00:00', 'T17:00:00']
transfers for the period:  49280
0 2022-04-29 ['T17:00:00', 'T18:00:00']
transfers for the period:  53906
0 2022-04-29 ['T18:00:00', 'T19:00:00']
transfers for the period:  56366
0 2022-04-29 ['T19:00:00', 'T20:00:00']
transfers for the period:  59807
0 2022-04-29 ['T20:00:00', 'T21:00:00']
transfers for the period:  61820
0 2022-04-29 ['T21:00:00', 'T22:00:00']
transfers for the period:  62769
0 2022-04-29 ['T22:00:00', 'T23:00:00']
transfers for the period:  63843
0 2022-04-29 ['T23:00:00', 'T24:00:00']
transfers for the period:  65050

#### queries

In [ ]:
# total users created (number of associated accounts created): COUNT TRANSACTION WHERE ALL OF BELOW HAPPED IN ONE tx

    ## associated token program [ATokenGPvbdGVxr1b2hvZbsiqW5xWH25efTNsLJA8knL]: CREATE
        # MINT: AFbX8oGjGpmVFywbVouvhQSRmiW2aR1mohfahi4Y2AdB
        # ACCOUNT: NOT HLS5Y68QSQgJP7wUbbbbCjEnMknVZrHXYDwwVaDcsdK7
        # WALLET: NOT STEPNq2UGeGSzCyGVr2nMQAzf8xuejwqebd84wcksCK
        
        ## system program: CREATE ACCOUNT
            # FROM ADDRESS: NOT STEPNq2UGeGSzCyGVr2nMQAzf8xuejwqebd84wcksCK
            
        ## token program: INITIALIZE ACCOUNT
            # MINT: AFbX8oGjGpmVFywbVouvhQSRmiW2aR1mohfahi4Y2AdB            
            
    ## TOKEN PROGRAM [TokenkegQfeZyiNwAJbNbGKPFXCWuBvf9Ss623VQ5DA]: TRANSFER (CHECKED)
        # AUTHORITY: STEPNq2UGeGSzCyGVr2nMQAzf8xuejwqebd84wcksCK
        # MINT: AFbX8oGjGpmVFywbVouvhQSRmiW2aR1mohfahi4Y2AdB
        # SOURCE: HLS5Y68QSQgJP7wUbbbbCjEnMknVZrHXYDwwVaDcsdK7
    


# total burned



# total in treasury