# MySQL commands to monitor DB

In [85]:
from sqlalchemy import create_engine
import pymysql

from datetime import datetime
import pandas as pd

db_connection_str = 'mysql+pymysql://crypto:trackcrack@192.168.0.2/crypto'  # connect to 'crypto' database in B150M
db_connection = create_engine(db_connection_str)
conn = db_connection.connect()

In [86]:
# get table headers
# table_name = "stepn_solana_tx"
table_name = "stepn_solana_gst_out_bitquery"
column_headers = pd.read_sql_query("DESCRIBE " + table_name, con=conn)
column_headers

                     Field          Type Null  Key Default           Extra
0                 datetime      datetime  YES         None
1                blocktime    bigint(20)  YES         None
2                   amount        double  YES         None
3                 receiver   varchar(64)  YES         None
4   receiver_token_account   varchar(64)  YES         None
5                signature  varchar(128)  YES         None
6     sender_token_account   varchar(64)  YES         None
7                   sender   varchar(64)  YES         None
8                     mint   varchar(64)  YES         None
9                   symbol    varchar(4)  YES         None
10                decimals   smallint(6)  YES         None
11                      id       int(11)   NO  PRI    None  auto_increment

In [92]:
# get number of rows in table
# table_name = "stepn_solana_tx"
table_name = "stepn_solana_gst_out_bitquery"
qry_cnt = "SELECT COUNT(*) FROM " + table_name
row_count = pd.read_sql_query(qry_cnt, con=conn)
row_count

   COUNT(*)
0   2531819

In [49]:
# get bytesize of tables
qry_sz = "SELECT TABLE_NAME AS `Table`, " + \
    "ROUND((DATA_LENGTH + INDEX_LENGTH) / 1024 / 1024) AS `Size (MB)` FROM information_schema.TABLES "  + \
    "WHERE TABLE_SCHEMA = 'crypto' ORDER BY   (DATA_LENGTH + INDEX_LENGTH) DESC;"
bytesize = pd.read_sql_query(qry_sz, con=conn)
bytesize

                           Table  Size (MB)
0             stepn_solana_accnt     1312.0
1                stepn_solana_tx      976.0
2  stepn_solana_gst_out_bitquery      824.0
3                           temp      202.0

In [71]:
# get last tx
# table_name = "stepn_solana_tx"
table_name = "stepn_solana_gst_out_bitquery"
qry_last = "SELECT id, blocktime, signature from " + table_name + ' ORDER BY id DESC LIMIT 1;'
oldest_tx = pd.read_sql_query(qry_last, con=conn).iloc[:, :]
oldest_tx

        id   blocktime                                          signature
0  1973854  1651233595  4J1uhrrcFrsfG7XZvpN8xRyePpcvdF2pByqCj6tCP159Py...

# Remove duplicates from table (in terminal, MariaDB prompt)
For tables: <br>
    *   stepn_solana_accnt <br>
    *   stepn_solana_tx

#### load sql module

In [ ]:
%load_ext sql

#### connect to crypto database

In [ ]:
%sql mysql+pymysql://crypto:trackcrack@192.168.0.2/crypto

#### list tables

In [22]:
%%sql
show tables;

 * mysql+pymysql://crypto:***@192.168.0.2/crypto
4 rows affected.

[('stepn_solana_accnt',),
 ('stepn_solana_gst_out_bitquery',),
 ('stepn_solana_tx',),
 ('temp',)]

#### list table columns

In [32]:
%%sql
SHOW columns FROM stepn_solana_gst_out_bitquery

 * mysql+pymysql://crypto:***@192.168.0.2/crypto
11 rows affected.

[('datetime', 'datetime', 'YES', '', None, ''),
 ('blocktime', 'bigint(20)', 'YES', '', None, ''),
 ('amount', 'double', 'YES', '', None, ''),
 ('receiver', 'varchar(64)', 'YES', '', None, ''),
 ('receiver_token_account', 'varchar(64)', 'YES', '', None, ''),
 ('signature', 'varchar(128)', 'YES', '', None, ''),
 ('sender_token_account', 'varchar(64)', 'YES', '', None, ''),
 ('sender', 'varchar(64)', 'YES', '', None, ''),
 ('mint', 'varchar(64)', 'YES', '', None, ''),
 ('symbol', 'varchar(4)', 'YES', '', None, ''),
 ('decimals', 'smallint(6)', 'YES', '', None, '')]

#### get primary key of a table

In [ ]:
%%sql
SHOW KEYS FROM stepn_solana_gst_out_bitquery WHERE Key_name = 'PRIMARY'

#### add auto-incrementing id as primary key

In [ ]:
%%sql
ALTER TABLE temp ADD id INT NOT NULL AUTO_INCREMENT PRIMARY KEY

#### drop primary key

In [ ]:
%%sql
ALTER TABLE temp DROP PRIMARY KEY

#### show duplicate rows

In [23]:
%%sql
SELECT
     blocktime, COUNT(blocktime),
     accountIndex, COUNT(accountIndex),
     owner, COUNT(owner),
     mint, COUNT(mint),
     prebal, COUNT(prebal),
     postbal, COUNT(postbal),
     difference, COUNT(difference),
     fee, COUNT(fee),
     status, COUNT(status),
     signature, COUNT(signature) 
FROM
     temp
GROUP BY
     blocktime,
     accountIndex,
     owner,
     mint,
     prebal,
     postbal,
     difference,
     fee,
     status,
     signature
HAVING
     COUNT(blocktime) > 1
     AND COUNT(accountIndex) > 1
     AND COUNT(owner) > 1
     AND COUNT(mint) > 1
     AND COUNT(prebal) > 1
     AND COUNT(postbal) > 1
     AND COUNT(difference) > 1
     AND COUNT(fee) > 1
     AND COUNT(status) > 1
     AND COUNT(signature) > 1;

 * mysql+pymysql://crypto:***@192.168.0.2/crypto
8 rows affected.

[(1654835357, 2, 0, 2, 'STEPNq2UGeGSzCyGVr2nMQAzf8xuejwqebd84wcksCK', 2, 'sol', 2, 564542546782402, 2, 564542546777402, 2, -5000.0, 2, 5000.0, 2, "{'Ok': None}", 2, '2dY1i3PD2XurJxjX2K2tYxfyhZr6NFY6BEA2bE4u7PF8Sm3Wc5QiG8SKUD93uyRJXHy7mpG4R9zp5jHzVh9UZ9my', 2),
 (1654835357, 2, 0, 2, 'STEPNq2UGeGSzCyGVr2nMQAzf8xuejwqebd84wcksCK', 2, 'sol', 2, 564542546787402, 2, 564542546782402, 2, -5000.0, 2, 5000.0, 2, "{'Ok': None}", 2, '2R1zzrbj2QKwHoTxFfDBp5GfNTLQvKP4E82MPZFcoyY6gWhR3JqYJf8gW1B379CuBVMY2GuTh7T9XdUW35enjXnc', 2),
 (1654835357, 2, 0, 2, 'STEPNq2UGeGSzCyGVr2nMQAzf8xuejwqebd84wcksCK', 2, 'sol', 2, 564542546792402, 2, 564542546787402, 2, -5000.0, 2, 5000.0, 2, "{'Ok': None}", 2, '4gdqLCC4U5rwRfuxTBbL1E2SdX5LVHPMpSUhpMchScTmXkTyY7KyWU79ByQAVbhBbumuguHsxiDMoxM8KKAjijJX', 2),
 (1654835357, 2, 0, 2, 'STEPNq2UGeGSzCyGVr2nMQAzf8xuejwqebd84wcksCK', 2, 'sol', 2, 564555548562402, 2, 564542546792402, 2, -13001770000.0, 2, 5000.0, 2, "{'Ok': None}", 2, 'urb24kwXTYx2K1TBbHndRhMTPEWidYPSHssxWHCKDkCsmknRPqrMKhv4TvPpMMzrGX5UDzCj7ZcnxrazRWtaErc', 2),
 (1654835357, 2, 0, 2, 'STEPNq2UGeGSzCyGVr2nMQAzf8xuejwqebd84wcksCK', 2, 'sol', 2, 564555854067402, 2, 564555548562402, 2, -305505000.0, 2, 5000.0, 2, "{'Ok': None}", 2, '526WSK41j63xUgg8T44UxJcZMRAVtGKLrWNbnfEy6rxoB8ih7tsj4RiXxtBYVNpqBknRULmHdZYucSuoQH9kZ3N', 2),
 (1654835357, 2, 0, 2, 'STEPNq2UGeGSzCyGVr2nMQAzf8xuejwqebd84wcksCK', 2, 'sol', 2, 564556461312402, 2, 564555854067402, 2, -607245000.0, 2, 5000.0, 2, "{'Ok': None}", 2, 'brsz4K4xRsPHt7yn2NFy2mGXaX6b5a7tt18cQ5pZzLLuck7pzuECtEUqsGM6HocyrVHV82D1AmE2svcujyvqzS6', 2),
 (1654835359, 2, 0, 2, 'STEPNq2UGeGSzCyGVr2nMQAzf8xuejwqebd84wcksCK', 2, 'sol', 2, 564542546772402, 2, 564542546767402, 2, -5000.0, 2, 5000.0, 2, "{'Ok': None}", 2, '5JxSuRzeGBirx5FGEUziijFiuxxKyKuRnH69zZT4xnKcSCHDFmAF1xxwbYV1vbfv6mqTFE1Eo2xUQm2JdHyRDc8n', 2),
 (1654835359, 2, 0, 2, 'STEPNq2UGeGSzCyGVr2nMQAzf8xuejwqebd84wcksCK', 2, 'sol', 2, 564542546777402, 2, 564542546772402, 2, -5000.0, 2, 5000.0, 2, "{'Ok': None}", 2, '2znfJt98UUCaF6VVrCwZs6ofxBmZCREkWuGQvGafTUmphhCgWrY78hKoahHmsu2Y7rKwbWzAhq8FuF852ye2XzH1', 2)]

#### remove duplicate rows

In [ ]:
%%sql
delete t1 FROM temp t1
INNER JOIN temp t2
WHERE
    t1.id < t2.id AND
    t1.blocktime = t2.blocktime AND
    t1.accountIndex = t2.accountIndex AND
    t1.owner = t2.owner AND  
    t1.mint = t2.mint AND
    t1.prebal = t2.prebal AND
    t1.postbal = t2.postbal AND
    t1.difference = t2.difference AND
    t1.fee = t2.fee AND
    t1.status = t2.status AND    
    t1.signature = t2.signature
    ;

#### copy table to run test

In [ ]:
%%sql
CREATE TABLE temp LIKE stepn_solana_tx;
INSERT INTO temp SELECT * FROM stepn_solana_tx;

#### remove last n row (must have id as non-duplicate incremental key)

In [ ]:
n = 15380

table_name = "stepn_solana_gst_out_bitquery"
qry_cnt = "SELECT COUNT(*) FROM " + table_name
row_count = pd.read_sql_query(qry_cnt, con=conn)

indx_rm = row_count.iloc[0, 0] - n
# DELETE FROM `students` WHERE `id` > 900;
# 1958474
indx_rm

In [ ]:
%%sql
delete FROM stepn_solana_gst_out_bitquery WHERE id > 1958474;

In [88]:
a1 = 15380 + 1958474 + 7220+19406+32745+41133+49280+53906+56366+59807+61820+62769+63843+65050

2531819


7220

19406

32745

41133

49280

53906

56366

59807

61820

62769

63843

65050

SyntaxError: invalid syntax (1242142791.py, line 1)