# MySQL commands to monitor DB (using pandas & sqlalchemy)

In [257]:
from sqlalchemy import create_engine
import pymysql

from datetime import datetime
import pandas as pd

db_connection_str = 'mysql+pymysql://crypto:trackcrack@192.168.0.2/crypto'  # connect to 'crypto' database in B150M
db_connection = create_engine(db_connection_str)
conn = db_connection.connect()

In [248]:
# get table headers
# table_name = "stepn_solana_tx"
table_name = "stepn_solana_gst_out_bitquery"
column_headers = pd.read_sql_query("DESCRIBE " + table_name, con=conn)
print(column_headers)

                     Field          Type Null  Key Default           Extra
0                 datetime      datetime  YES         None
1                blocktime    bigint(20)  YES         None
2                   amount        double  YES         None
3                 receiver   varchar(64)  YES         None
4   receiver_token_account   varchar(64)  YES         None
5                signature  varchar(128)  YES         None
6     sender_token_account   varchar(64)  YES         None
7                   sender   varchar(64)  YES         None
8                     mint   varchar(64)  YES         None
9                   symbol    varchar(4)  YES         None
10                decimals   smallint(6)  YES         None
11                      id       int(11)   NO  PRI    None  auto_increment

In [252]:
# get number of rows in table
# table_name = "stepn_solana_tx"
table_name = "stepn_solana_gst_out_bitquery"
qry_cnt = "SELECT COUNT(*) FROM " + table_name
row_count = pd.read_sql_query(qry_cnt, con=conn)
row_count

   COUNT(*)
0   7410498

In [96]:
import mitosheet
mitosheet.sheet(row_count)

MitoWidget(analysis_data_json='{"analysisName": "id-ornlmbibyr", "analysisToReplay": null, "code": [], "stepSuâ€¦

In [232]:
# get bytesize of tables
qry_sz = "SELECT TABLE_NAME AS `Table`, " + \
    "ROUND((DATA_LENGTH + INDEX_LENGTH) / 1024 / 1024) AS `Size (MB)` FROM information_schema.TABLES "  + \
    "WHERE TABLE_SCHEMA = 'crypto' ORDER BY   (DATA_LENGTH + INDEX_LENGTH) DESC;"
bytesize = pd.read_sql_query(qry_sz, con=conn)
bytesize

                           Table  Size (MB)
0  stepn_solana_gst_out_bitquery     2870.0
1             stepn_solana_accnt     1450.0
2                stepn_solana_tx     1354.0
3   stepn_solana_gst_in_bitquery      377.0
4                           temp      202.0

In [ ]:
# get tx for a date
# table_name = "stepn_solana_tx"
table_name = "stepn_solana_gst_out_bitquery"
qry_date = "SELECT id, datetime, blocktime, signature from " + table_name + " where DATE(datetime)='2022-05-01';"
date_tx = pd.read_sql_query(qry_date, con=conn).iloc[:, :]
date_tx

In [254]:
# get tx by blocktime
# table_name = "stepn_solana_tx"
table_name = "stepn_solana_gst_out_bitquery"
qry_date = "SELECT * from " + table_name + " where blocktime='1651233600';"
blocktime_tx = pd.read_sql_query(qry_date, con=conn).iloc[:, :]
blocktime_tx

,datetime,blocktime,amount,receiver,receiver_token_account,signature,sender_token_account,sender,mint,symbol,decimals,id
0,2022-04-29 12:00:00,1651233600,23.5,C4RdaKNkfAgGum8gd7LLLdWJMSyjZ5ZycbRnnjFXQNX8,ApL4s93tMwdr4q25saifC74LJ9xCg39tSY6w7a5cAuT8,nAzENkbaeFGkBnyCcpCEcrGJLsNiUWKrQ5KXjPrghDH9txTTegSB51hnxFNNhjF6rYhREnsJQbZ6Mqsb7b2KLbE,HLS5Y68QSQgJP7wUbbbbCjEnMknVZrHXYDwwVaDcsdK7,STEPNq2UGeGSzCyGVr2nMQAzf8xuejwqebd84wcksCK,AFbX8oGjGpmVFywbVouvhQSRmiW2aR1mohfahi4Y2AdB,,9,1973855
1,2022-04-29 12:00:00,1651233600,23.5,C4RdaKNkfAgGum8gd7LLLdWJMSyjZ5ZycbRnnjFXQNX8,ApL4s93tMwdr4q25saifC74LJ9xCg39tSY6w7a5cAuT8,nAzENkbaeFGkBnyCcpCEcrGJLsNiUWKrQ5KXjPrghDH9txTTegSB51hnxFNNhjF6rYhREnsJQbZ6Mqsb7b2KLbE,HLS5Y68QSQgJP7wUbbbbCjEnMknVZrHXYDwwVaDcsdK7,STEPNq2UGeGSzCyGVr2nMQAzf8xuejwqebd84wcksCK,AFbX8oGjGpmVFywbVouvhQSRmiW2aR1mohfahi4Y2AdB,,9,1981075
2,2022-04-29 12:00:00,1651233600,23.5,C4RdaKNkfAgGum8gd7LLLdWJMSyjZ5ZycbRnnjFXQNX8,ApL4s93tMwdr4q25saifC74LJ9xCg39tSY6w7a5cAuT8,nAzENkbaeFGkBnyCcpCEcrGJLsNiUWKrQ5KXjPrghDH9txTTegSB51hnxFNNhjF6rYhREnsJQbZ6Mqsb7b2KLbE,HLS5Y68QSQgJP7wUbbbbCjEnMknVZrHXYDwwVaDcsdK7,STEPNq2UGeGSzCyGVr2nMQAzf8xuejwqebd84wcksCK,AFbX8oGjGpmVFywbVouvhQSRmiW2aR1mohfahi4Y2AdB,,9,2000481
3,2022-04-29 12:00:00,1651233600,23.5,C4RdaKNkfAgGum8gd7LLLdWJMSyjZ5ZycbRnnjFXQNX8,ApL4s93tMwdr4q25saifC74LJ9xCg39tSY6w7a5cAuT8,nAzENkbaeFGkBnyCcpCEcrGJLsNiUWKrQ5KXjPrghDH9txTTegSB51hnxFNNhjF6rYhREnsJQbZ6Mqsb7b2KLbE,HLS5Y68QSQgJP7wUbbbbCjEnMknVZrHXYDwwVaDcsdK7,STEPNq2UGeGSzCyGVr2nMQAzf8xuejwqebd84wcksCK,AFbX8oGjGpmVFywbVouvhQSRmiW2aR1mohfahi4Y2AdB,,9,2033226
4,2022-04-29 12:00:00,1651233600,23.5,C4RdaKNkfAgGum8gd7LLLdWJMSyjZ5ZycbRnnjFXQNX8,ApL4s93tMwdr4q25saifC74LJ9xCg39tSY6w7a5cAuT8,nAzENkbaeFGkBnyCcpCEcrGJLsNiUWKrQ5KXjPrghDH9txTTegSB51hnxFNNhjF6rYhREnsJQbZ6Mqsb7b2KLbE,HLS5Y68QSQgJP7wUbbbbCjEnMknVZrHXYDwwVaDcsdK7,STEPNq2UGeGSzCyGVr2nMQAzf8xuejwqebd84wcksCK,AFbX8oGjGpmVFywbVouvhQSRmiW2aR1mohfahi4Y2AdB,,9,2074359
...,...,...,...,...,...,...,...,...,...,...,...,...
7,2022-04-29 12:00:00,1651233600,23.5,C4RdaKNkfAgGum8gd7LLLdWJMSyjZ5ZycbRnnjFXQNX8,ApL4s93tMwdr4q25saifC74LJ9xCg39tSY6w7a5cAuT8,nAzENkbaeFGkBnyCcpCEcrGJLsNiUWKrQ5KXjPrghDH9txTTegSB51hnxFNNhjF6rYhREnsJQbZ6Mqsb7b2KLbE,HLS5Y68QSQgJP7wUbbbbCjEnMknVZrHXYDwwVaDcsdK7,STEPNq2UGeGSzCyGVr2nMQAzf8xuejwqebd84wcksCK,AFbX8oGjGpmVFywbVouvhQSRmiW2aR1mohfahi4Y2AdB,,9,2233911
8,2022-04-29 12:00:00,1651233600,23.5,C4RdaKNkfAgGum8gd7LLLdWJMSyjZ5ZycbRnnjFXQNX8,ApL4s93tMwdr4q25saifC74LJ9xCg39tSY6w7a5cAuT8,nAzENkbaeFGkBnyCcpCEcrGJLsNiUWKrQ5KXjPrghDH9txTTegSB51hnxFNNhjF6rYhREnsJQbZ6Mqsb7b2KLbE,HLS5Y68QSQgJP7wUbbbbCjEnMknVZrHXYDwwVaDcsdK7,STEPNq2UGeGSzCyGVr2nMQAzf8xuejwqebd84wcksCK,AFbX8oGjGpmVFywbVouvhQSRmiW2aR1mohfahi4Y2AdB,,9,2293718
9,2022-04-29 12:00:00,1651233600,23.5,C4RdaKNkfAgGum8gd7LLLdWJMSyjZ5ZycbRnnjFXQNX8,ApL4s93tMwdr4q25saifC74LJ9xCg39tSY6w7a5cAuT8,nAzENkbaeFGkBnyCcpCEcrGJLsNiUWKrQ5KXjPrghDH9txTTegSB51hnxFNNhjF6rYhREnsJQbZ6Mqsb7b2KLbE,HLS5Y68QSQgJP7wUbbbbCjEnMknVZrHXYDwwVaDcsdK7,STEPNq2UGeGSzCyGVr2nMQAzf8xuejwqebd84wcksCK,AFbX8oGjGpmVFywbVouvhQSRmiW2aR1mohfahi4Y2AdB,,9,2355538
10,2022-04-29 12:00:00,1651233600,23.5,C4RdaKNkfAgGum8gd7LLLdWJMSyjZ5ZycbRnnjFXQNX8,ApL4s93tMwdr4q25saifC74LJ9xCg39tSY6w7a5cAuT8,nAzENkbaeFGkBnyCcpCEcrGJLsNiUWKrQ5KXjPrghDH9txTTegSB51hnxFNNhjF6rYhREnsJQbZ6Mqsb7b2KLbE,HLS5Y68QSQgJP7wUbbbbCjEnMknVZrHXYDwwVaDcsdK7,STEPNq2UGeGSzCyGVr2nMQAzf8xuejwqebd84wcksCK,AFbX8oGjGpmVFywbVouvhQSRmiW2aR1mohfahi4Y2AdB,,9,2418307
11,2022-04-29 12:00:00,1651233600,23.5,C4RdaKNkfAgGum8gd7LLLdWJMSyjZ5ZycbRnnjFXQNX8,ApL4s93tMwdr4q25saifC74LJ9xCg39tSY6w7a5cAuT8,nAzENkbaeFGkBnyCcpCEcrGJLsNiUWKrQ5KXjPrghDH9txTTegSB51hnxFNNhjF6rYhREnsJQbZ6Mqsb7b2KLbE,HLS5Y68QSQgJP7wUbbbbCjEnMknVZrHXYDwwVaDcsdK7,STEPNq2UGeGSzCyGVr2nMQAzf8xuejwqebd84wcksCK,AFbX8oGjGpmVFywbVouvhQSRmiW2aR1mohfahi4Y2AdB,,9,2482150

In [ ]:
# get last rows
# table_name = "stepn_solana_tx"
table_name = "stepn_solana_gst_out_bitquery"
qry_last = "SELECT id, datetime, blocktime, signature from " + table_name + ' ORDER BY blocktime DESC LIMIT 10;'
oldest_tx = pd.read_sql_query(qry_last, con=conn).iloc[:, :]
oldest_tx

# Remove duplicates from table (using pandas & mysql-connector-python)

In [ ]:
# get duplicate rows in pandas (stepn_solana_tx table)
query_dupes = """
SELECT
     blocktime, COUNT(blocktime),
     accountIndex, COUNT(accountIndex),
     owner, COUNT(owner),
     mint, COUNT(mint),
     prebal, COUNT(prebal),
     postbal, COUNT(postbal),
     difference, COUNT(difference),
     fee, COUNT(fee),
     status, COUNT(status),
     signature, COUNT(signature),
     id, COUNT(id) 
FROM
     stepn_solana_tx
GROUP BY
     blocktime,
     accountIndex,
     owner,
     mint,
     prebal,
     postbal,
     difference,
     fee,
     status,
     signature
HAVING
     COUNT(blocktime) > 1
     AND COUNT(accountIndex) > 1
     AND COUNT(owner) > 1
     AND COUNT(mint) > 1
     AND COUNT(prebal) > 1
     AND COUNT(postbal) > 1
     AND COUNT(difference) > 1
     AND COUNT(fee) > 1
     AND COUNT(status) > 1
     AND COUNT(signature) > 1;
"""     
table_name = "stepn_solana_tx"
# table_name = "stepn_solana_gst_out_bitquery"
dupes_tx = pd.read_sql_query(query_dupes, con=conn).iloc[:, :]
dupes_tx

In [258]:
# get duplicate rows in pandas stepn_solana_gst_in_bitquery table)
query_dupes = """
SELECT
     blocktime, COUNT(blocktime),
     datetime, COUNT(datetime),     
     mint, COUNT(mint),
     amount, COUNT(amount),
     receiver, COUNT(receiver),
     receiver_token_account, COUNT(receiver_token_account),
     sender, COUNT(sender),
     sender_token_account, COUNT(sender_token_account),
     signature, COUNT(signature),
     symbol, COUNT(symbol) 
     decimals, COUNT(decimals) 
FROM
     stepn_solana_gst_out_bitquery
GROUP BY
     blocktime,
     datetime,
     mint,
     amount,
     receiver,
     receiver_token_account,
     sender,
     sender_token_account,
     signature,
     symbol,
     decimals
HAVING
     COUNT(blocktime) > 1     
     AND COUNT(mint) > 1     
     AND COUNT(signature) > 1     
     AND COUNT(datetime) > 1     
     AND COUNT(amount) > 1     
     AND COUNT(receiver) > 1     
     AND COUNT(receiver_token_account) > 1     
     AND COUNT(sender) > 1     
     AND COUNT(sender_token_account) > 1     
     AND COUNT(symbol) > 1     
     AND COUNT(decimals) > 1;
"""     
table_name = "stepn_solana_gst_in_bitquery"
# table_name = "stepn_solana_gst_out_bitquery"
dupes_tx = pd.read_sql_query(query_dupes, con=conn).iloc[:, :]
dupes_tx

,blocktime,COUNT(blocktime),datetime,COUNT(datetime),mint,COUNT(mint),amount,COUNT(amount),receiver,COUNT(receiver),...,COUNT(receiver_token_account),sender,COUNT(sender),sender_token_account,COUNT(sender_token_account),signature,COUNT(signature),symbol,decimals,COUNT(decimals)
0,1651233600,12,2022-04-29 12:00:00,12,AFbX8oGjGpmVFywbVouvhQSRmiW2aR1mohfahi4Y2AdB,12,23.50,12,C4RdaKNkfAgGum8gd7LLLdWJMSyjZ5ZycbRnnjFXQNX8,12,...,12,STEPNq2UGeGSzCyGVr2nMQAzf8xuejwqebd84wcksCK,12,HLS5Y68QSQgJP7wUbbbbCjEnMknVZrHXYDwwVaDcsdK7,12,nAzENkbaeFGkBnyCcpCEcrGJLsNiUWKrQ5KXjPrghDH9txTTegSB51hnxFNNhjF6rYhREnsJQbZ6Mqsb7b2KLbE,12,,12,12
1,1651233604,12,2022-04-29 12:00:04,12,AFbX8oGjGpmVFywbVouvhQSRmiW2aR1mohfahi4Y2AdB,12,14.21,12,BK8gd4Zu57HfED78kRxiiVMwwGbFYy9gYu6ovoEmteiK,12,...,12,STEPNq2UGeGSzCyGVr2nMQAzf8xuejwqebd84wcksCK,12,HLS5Y68QSQgJP7wUbbbbCjEnMknVZrHXYDwwVaDcsdK7,12,5bv1zHZZAdYo6kqvgpBfLcVEVYa9TJbJqEfbAt91Gs6tGeVMBmTnuSHfaPnpDd31tVSZYpdBQYb472QAmyoug4RT,12,,12,12
2,1651233604,12,2022-04-29 12:00:04,12,AFbX8oGjGpmVFywbVouvhQSRmiW2aR1mohfahi4Y2AdB,12,74.20,12,scoWsRATjLrV2i1sW9LiByRCrRnkgcVuZ8DKCoCVxgi,12,...,12,STEPNq2UGeGSzCyGVr2nMQAzf8xuejwqebd84wcksCK,12,HLS5Y68QSQgJP7wUbbbbCjEnMknVZrHXYDwwVaDcsdK7,12,5bv1zHZZAdYo6kqvgpBfLcVEVYa9TJbJqEfbAt91Gs6tGeVMBmTnuSHfaPnpDd31tVSZYpdBQYb472QAmyoug4RT,12,,12,12
3,1651233605,12,2022-04-29 12:00:05,12,AFbX8oGjGpmVFywbVouvhQSRmiW2aR1mohfahi4Y2AdB,12,9.90,12,4ScLwmi9dzNn4jb34KmBG1WrmUpWVnrEgZwywGV9zMKj,12,...,12,STEPNq2UGeGSzCyGVr2nMQAzf8xuejwqebd84wcksCK,12,HLS5Y68QSQgJP7wUbbbbCjEnMknVZrHXYDwwVaDcsdK7,12,5kSBSoGqtxifrPe8wkYXiHnbo3Tq2GXkfB1xiwjdj8xxbPqAqNVXS4gqvttsKXPp2wrk1nYZKMrw8VUBypUQLiht,12,,12,12
4,1651233605,12,2022-04-29 12:00:05,12,AFbX8oGjGpmVFywbVouvhQSRmiW2aR1mohfahi4Y2AdB,12,10.00,12,ErTRfxdYbVJFRnYTGXUrafnRtBevMKfFCA3pZeUCQTfk,12,...,12,STEPNq2UGeGSzCyGVr2nMQAzf8xuejwqebd84wcksCK,12,HLS5Y68QSQgJP7wUbbbbCjEnMknVZrHXYDwwVaDcsdK7,12,5wmawq5ttyJxczMsqDsBj1tCYPgLoMrDkgMRKMy8E1GMc4yfqDadbprSnhTz7dnqHGDjtdk9ndRo7xrrZAW614yy,12,,12,12
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
83827,1651651198,2,2022-05-04 07:59:58,2,AFbX8oGjGpmVFywbVouvhQSRmiW2aR1mohfahi4Y2AdB,2,170.00,2,HMhpw1MiJ2H9WmmdieFbCXSFw2skRcCtFybjfzvxiYmL,2,...,2,STEPNq2UGeGSzCyGVr2nMQAzf8xuejwqebd84wcksCK,2,HLS5Y68QSQgJP7wUbbbbCjEnMknVZrHXYDwwVaDcsdK7,2,5NjqYyMi2EXPNyA1N5LKYNa25cEfVpKfse7uQdoJuDnsJaLL9mYE3Jhhiqa5hSsda1xUzwe2YAP6XCYATwNYjhUk,2,,2,2
83828,1651651199,2,2022-05-04 07:59:59,2,AFbX8oGjGpmVFywbVouvhQSRmiW2aR1mohfahi4Y2AdB,2,10.62,2,AZb11WbfbMoepw3gRDSUs73XjDDc8fx3ox5b9Je7JLKh,2,...,2,STEPNq2UGeGSzCyGVr2nMQAzf8xuejwqebd84wcksCK,2,HLS5Y68QSQgJP7wUbbbbCjEnMknVZrHXYDwwVaDcsdK7,2,2oRgGnvvMPePPffUb3RZR4zrfrMsFtBTDzJZA3ubhExnTLesyc8GiXS5V5VbbKtJGgnt8u6z6e7zVwn2nvQH6JWm,2,,2,2
83829,1651651199,2,2022-05-04 07:59:59,2,AFbX8oGjGpmVFywbVouvhQSRmiW2aR1mohfahi4Y2AdB,2,19.84,2,C7KMqEC71DhFabMYCoPrin3trdfuu3P9MyLYMz41rgG9,2,...,2,STEPNq2UGeGSzCyGVr2nMQAzf8xuejwqebd84wcksCK,2,HLS5Y68QSQgJP7wUbbbbCjEnMknVZrHXYDwwVaDcsdK7,2,3GCxZJvg99ULmHNnCHANBfkAYivxSEpZoXwDXmh117tgr6612P2e6suro1YAKK6NzC4XUP5eCkxDeq98rYujV4NU,2,,2,2
83830,1651651199,2,2022-05-04 07:59:59,2,AFbX8oGjGpmVFywbVouvhQSRmiW2aR1mohfahi4Y2AdB,2,23.95,2,6RfpkZyuqmbU3XWtTNmRMXz396VasmPSE1TENQQvQGJ8,2,...,2,STEPNq2UGeGSzCyGVr2nMQAzf8xuejwqebd84wcksCK,2,HLS5Y68QSQgJP7wUbbbbCjEnMknVZrHXYDwwVaDcsdK7,2,3GCxZJvg99ULmHNnCHANBfkAYivxSEpZoXwDXmh117tgr6612P2e6suro1YAKK6NzC4XUP5eCkxDeq98rYujV4NU,2,,2,2
83831,1651651199,2,2022-05-04 07:59:59,2,AFbX8oGjGpmVFywbVouvhQSRmiW2aR1mohfahi4Y2AdB,2,54.90,2,GovPJ98kMuHatSmKWiQ8ekrTkj8MRkaf49tDvsctL7Jk,2,...,2,STEPNq2UGeGSzCyGVr2nMQAzf8xuejwqebd84wcksCK,2,HLS5Y68QSQgJP7wUbbbbCjEnMknVZrHXYDwwVaDcsdK7,2,2xjr8Z13gu4A6Nfwbi37Qur982B31kzsHnNzDeXRY1hvvsBmt4c5RVT5a9TqTRUEwRrQ35EJQVGDKurDBJXLp36,2,,2,2

In [ ]:
# delete duplicate rows

# tablename = "stepn_solana_gst_in_bitquery"
tablename = "stepn_solana_gst_out_bitquery"

import mysql.connector
mydb = mysql.connector.connect(    
    host="192.168.0.2",
    user="crypto",
    password="trackcrack",
    database="crypto"
)
mycursor = mydb.cursor()

deleted_ids = []
for btime in dupes_tx['blocktime'].unique():
    print(str(btime))
    
    exq = "select * FROM " + tablename + " WHERE blocktime = " + str(btime)    
    myresult = pd.read_sql_query(exq, con=conn)
    
    myresult_dupes = myresult.loc[myresult.drop(columns=['id']).duplicated(), :]['id'].to_list()
    tmpstr = str(tuple(myresult_dupes)).replace(',)', ')')
    print("delete FROM " + tablename + " WHERE id in " + tmpstr)

    exq1 = "delete FROM " + tablename + " WHERE id in " + tmpstr
    mycursor.execute(exq1)
    print(mycursor.rowcount)
    
    mydb.commit()
    print(mycursor.rowcount, "record(s) deleted")
    deleted_ids = deleted_ids + myresult_dupes

delete FROM stepn_solana_gst_out_bitquery WHERE id in (2111756, 2111757, 2111758, 2111759, 2111760, 2111761, 2111762, 2111763, 2111764, 2111765, 2111766, 2111767, 2111768, 2111769, 2111770, 2111771, 2111772, 2111773, 2111774, 2111775, 2161036, 2161037, 2161038, 2161039, 2161040, 2161041, 2161042, 2161043, 2161044, 2161045, 2161046, 2161047, 2161048, 2161049, 2161050, 2161051, 2161052, 2161053, 2161054, 2161055, 2214942, 2214943, 2214944, 2214945, 2214946, 2214947, 2214948, 2214949, 2214950, 2214951, 2214952, 2214953, 2214954, 2214955, 2214956, 2214957, 2214958, 2214959, 2214960, 2214961, 2271308, 2271309, 2271310, 2271311, 2271312, 2271313, 2271314, 2271315, 2271316, 2271317, 2271318, 2271319, 2271320, 2271321, 2271322, 2271323, 2271324, 2271325, 2271326, 2271327, 2331115, 2331116, 2331117, 2331118, 2331119, 2331120, 2331121, 2331122, 2331123, 2331124, 2331125, 2331126, 2331127, 2331128, 2331129, 2331130, 2331131, 2331132, 2331133, 2331134, 2392935, 2392936, 2392937, 2392938, 2392939, 2392940, 2392941, 2392942, 2392943, 2392944, 2392945, 2392946, 2392947, 2392948, 2392949, 2392950, 2392951, 2392952, 2392953, 2392954, 2455704, 2455705, 2455706, 2455707, 2455708, 2455709, 2455710, 2455711, 2455712, 2455713, 2455714, 2455715, 2455716, 2455717, 2455718, 2455719, 2455720, 2455721, 2455722, 2455723, 2519547, 2519548, 2519549, 2519550, 2519551, 2519552, 2519553, 2519554, 2519555, 2519556, 2519557, 2519558, 2519559, 2519560, 2519561, 2519562, 2519563, 2519564, 2519565, 2519566)
160
160 record(s) deleted
1651246880
delete FROM stepn_solana_gst_out_bitquery WHERE id in (2111776, 2111777, 2111778, 2111779, 2161056, 2161057, 2161058, 2161059, 2214962, 2214963, 2214964, 2214965, 2271328, 2271329, 2271330, 2271331, 2331135, 2331136, 2331137, 2331138, 2392955, 2392956, 2392957, 2392958, 2455724, 2455725, 2455726, 2455727, 2519567, 2519568, 2519569, 2519570)
32
32 record(s) deleted
1651246882
delete FROM stepn_solana_gst_out_bitquery WHERE id in (2111780, 2111781, 2111782, 2111783, 2111784, 2111785, 2111786, 2111787, 2111788, 2111789, 2111790, 2111791, 2111792, 2111793, 2111794, 2111795, 2111796, 2111797, 2111798, 2111799, 2111800, 2111801, 2111802, 2111803, 2111804, 2111805, 2111806, 2111807, 2111808, 2161060, 2161061, 2161062, 2161063, 2161064, 2161065, 2161066, 2161067, 2161068, 2161069, 2161070, 2161071, 2161072, 2161073, 2161074, 2161075, 2161076, 2161077, 2161078, 2161079, 2161080, 2161081, 2161082, 2161083, 2161084, 2161085, 2161086, 2161087, 2161088, 2214966, 2214967, 2214968, 2214969, 2214970, 2214971, 2214972, 2214973, 2214974, 2214975, 2214976, 2214977, 2214978, 2214979, 2214980, 2214981, 2214982, 2214983, 2214984, 2214985, 2214986, 2214987, 2214988, 2214989, 2214990, 2214991, 2214992, 2214993, 2214994, 2271332, 2271333, 2271334, 2271335, 2271336, 2271337, 2271338, 2271339, 2271340, 2271341, 2271342, 2271343, 2271344, 2271345, 2271346, 2271347, 2271348, 2271349, 2271350, 2271351, 2271352, 2271353, 2271354, 2271355, 2271356, 2271357, 2271358, 2271359, 2271360, 2331139, 2331140, 2331141, 2331142, 2331143, 2331144, 2331145, 2331146, 2331147, 2331148, 2331149, 2331150, 2331151, 2331152, 2331153, 2331154, 2331155, 2331156, 2331157, 2331158, 2331159, 2331160, 2331161, 2331162, 2331163, 2331164, 2331165, 2331166, 2331167, 2392959, 2392960, 2392961, 2392962, 2392963, 2392964, 2392965, 2392966, 2392967, 2392968, 2392969, 2392970, 2392971, 2392972, 2392973, 2392974, 2392975, 2392976, 2392977, 2392978, 2392979, 2392980, 2392981, 2392982, 2392983, 2392984, 2392985, 2392986, 2392987, 2455728, 2455729, 2455730, 2455731, 2455732, 2455733, 2455734, 2455735, 2455736, 2455737, 2455738, 2455739, 2455740, 2455741, 2455742, 2455743, 2455744, 2455745, 2455746, 2455747, 2455748, 2455749, 2455750, 2455751, 2455752, 2455753, 2455754, 2455755, 2455756, 2519571, 2519572, 2519573, 2519574, 2519575, 2519576, 2519577, 2519578, 2519579, 2519580, 2519581, 2519582, 2519583, 2519584, 2519585, 2519586, 2519587, 2519588, 2519589, 2519590, 2519591, 2519592, 2519593, 2519594, 2519595, 2519596, 2519597, 2519598, 2519599)
232
232 record(s) deleted
1651246883
delete FROM stepn_solana_gst_out_bitquery WHERE id in (2111809, 2111810, 2111811, 2111812, 2111813, 2111814, 2111815, 2111816, 2111817, 2111818, 2111819, 2111820, 2111821, 2111822, 2111823, 2111824, 2111825, 2111826, 2111827, 2161089, 2161090, 2161091, 2161092, 2161093, 2161094, 2161095, 2161096, 2161097, 2161098, 2161099, 2161100, 2161101, 2161102, 2161103, 2161104, 2161105, 2161106, 2161107, 2214995, 2214996, 2214997, 2214998, 2214999, 2215000, 2215001, 2215002, 2215003, 2215004, 2215005, 2215006, 2215007, 2215008, 2215009, 2215010, 2215011, 2215012, 2215013, 2271361, 2271362, 2271363, 2271364, 2271365, 2271366, 2271367, 2271368, 2271369, 2271370, 2271371, 2271372, 2271373, 2271374, 2271375, 2271376, 2271377, 2271378, 2271379, 2331168, 2331169, 2331170, 2331171, 2331172, 2331173, 2331174, 2331175, 2331176, 2331177, 2331178, 2331179, 2331180, 2331181, 2331182, 2331183, 2331184, 2331185, 2331186, 2392988, 2392989, 2392990, 2392991, 2392992, 2392993, 2392994, 2392995, 2392996, 2392997, 2392998, 2392999, 2393000, 2393001, 2393002, 2393003, 2393004, 2393005, 2393006, 2455757, 2455758, 2455759, 2455760, 2455761, 2455762, 2455763, 2455764, 2455765, 2455766, 2455767, 2455768, 2455769, 2455770, 2455771, 2455772, 2455773, 2455774, 2455775, 2519600, 2519601, 2519602, 2519603, 2519604, 2519605, 2519606, 2519607, 2519608, 2519609, 2519610, 2519611, 2519612, 2519613, 2519614, 2519615, 2519616, 2519617, 2519618)
152
152 record(s) deleted
1651246886
delete FROM stepn_solana_gst_out_bitquery WHERE id in (2111828, 2111829, 2111830, 2111831, 2111832, 2111833, 2111834, 2161108, 2161109, 2161110, 2161111, 2161112, 2161113, 2161114, 2215014, 2215015, 2215016, 2215017, 2215018, 2215019, 2215020, 2271380, 2271381, 2271382, 2271383, 2271384, 2271385, 2271386, 2331187, 2331188, 2331189, 2331190, 2331191, 2331192, 2331193, 2393007, 2393008, 2393009, 2393010, 2393011, 2393012, 2393013, 2455776, 2455777, 2455778, 2455779, 2455780, 2455781, 2455782, 2519619, 2519620, 2519621, 2519622, 2519623, 2519624, 2519625)
56
56 record(s) deleted
1651246888
delete FROM stepn_solana_gst_out_bitquery WHERE id in (2111835, 2111836, 2111837, 2111838, 2111839, 2111840, 2111841, 2161115, 2161116, 2161117, 2161118, 2161119, 2161120, 2161121, 2215021, 2215022, 2215023, 2215024, 2215025, 2215026, 2215027, 2271387, 2271388, 2271389, 2271390, 2271391, 2271392, 2271393, 2331194, 2331195, 2331196, 2331197, 2331198, 2331199, 2331200, 2393014, 2393015, 2393016, 2393017, 2393018, 2393019, 2393020, 2455783, 2455784, 2455785, 2455786, 2455787, 2455788, 2455789, 2519626, 2519627, 2519628, 2519629, 2519630, 2519631, 2519632)
56
56 record(s) deleted
1651246889
delete FROM stepn_solana_gst_out_bitquery WHERE id in (2111842, 2111843, 2111844, 2111845, 2161122, 2161123, 2161124, 2161125, 2215028, 2215029, 2215030, 2215031, 2271394, 2271395, 2271396, 2271397, 2331201, 2331202, 2331203, 2331204, 2393021, 2393022, 2393023, 2393024, 2455790, 2455791, 2455792, 2455793, 2519633, 2519634, 2519635, 2519636)
32
32 record(s) deleted
1651246891
delete FROM stepn_solana_gst_out_bitquery WHERE id in (2111846, 2111847, 2111848, 2111849, 2161126, 2161127, 2161128, 2161129, 2215032, 2215033, 2215034, 2215035, 2271398, 2271399, 2271400, 2271401, 2331205, 2331206, 2331207, 2331208, 2393025, 2393026, 2393027, 2393028, 2455794, 2455795, 2455796, 2455797, 2519637, 2519638, 2519639, 2519640)
32
32 record(s) deleted
1651246892
delete FROM stepn_solana_gst_out_bitquery WHERE id in (2111850, 2111851, 2111852, 2111853, 2161130, 2161131, 2161132, 2161133, 2215036, 2215037, 2215038, 2215039, 2271402, 2271403, 2271404, 2271405, 2331209, 2331210, 2331211, 2331212, 2393029, 2393030, 2393031, 2393032, 2455798, 2455799, 2455800, 2455801, 2519641, 2519642, 2519643, 2519644)
32
32 record(s) deleted
1651246899
delete FROM stepn_solana_gst_out_bitquery WHERE id in (2111854, 2111855, 2111856, 2111857, 2111858, 2111859, 2111860, 2111861, 2161134, 2161135, 2161136, 2161137, 2161138, 2161139, 2161140, 2161141, 2215040, 2215041, 2215042, 2215043, 2215044, 2215045, 2215046, 2215047, 2271406, 2271407, 2271408, 2271409, 2271410, 2271411, 2271412, 2271413, 2331213, 2331214, 2331215, 2331216, 2331217, 2331218, 2331219, 2331220, 2393033, 2393034, 2393035, 2393036, 2393037, 2393038, 2393039, 2393040, 2455802, 2455803, 2455804, 2455805, 2455806, 2455807, 2455808, 2455809, 2519645, 2519646, 2519647, 2519648, 2519649, 2519650, 2519651, 2519652)
64
64 record(s) deleted
1651246903
delete FROM stepn_solana_gst_out_bitquery WHERE id in (2111862, 2111863, 2111864, 2111865, 2111866, 2111867, 2111868, 2111869, 2111870, 2111871, 2111872, 2161142, 2161143, 2161144, 2161145, 2161146, 2161147, 2161148, 2161149, 2161150, 2161151, 2161152, 2215048, 2215049, 2215050, 2215051, 2215052, 2215053, 2215054, 2215055, 2215056, 2215057, 2215058, 2271414, 2271415, 2271416, 2271417, 2271418, 2271419, 2271420, 2271421, 2271422, 2271423, 2271424, 2331221, 2331222, 2331223, 2331224, 2331225, 2331226, 2331227, 2331228, 2331229, 2331230, 2331231, 2393041, 2393042, 2393043, 2393044, 2393045, 2393046, 2393047, 2393048, 2393049, 2393050, 2393051, 2455810, 2455811, 2455812, 2455813, 2455814, 2455815, 2455816, 2455817, 2455818, 2455819, 2455820, 2519653, 2519654, 2519655, 2519656, 2519657, 2519658, 2519659, 2519660, 2519661, 2519662, 2519663)
88
88 record(s) deleted
1651246904
delete FROM stepn_solana_gst_out_bitquery WHERE id in (2111873, 2111874, 2111875, 2111876, 2111877, 2111878, 2111879, 2111880, 2161153, 2161154, 2161155, 2161156, 2161157, 2161158, 2161159, 2161160, 2215059, 2215060, 2215061, 2215062, 2215063, 2215064, 2215065, 2215066, 2271425, 2271426, 2271427, 2271428, 2271429, 2271430, 2271431, 2271432, 2331232, 2331233, 2331234, 2331235, 2331236, 2331237, 2331238, 2331239, 2393052, 2393053, 2393054, 2393055, 2393056, 2393057, 2393058, 2393059, 2455821, 2455822, 2455823, 2455824, 2455825, 2455826, 2455827, 2455828, 2519664, 2519665, 2519666, 2519667, 2519668, 2519669, 2519670, 2519671)
64
64 record(s) deleted
1651246905
delete FROM stepn_solana_gst_out_bitquery WHERE id in (2111881, 2111882, 2111883, 2161161, 2161162, 2161163, 2215067, 2215068, 2215069, 2271433, 2271434, 2271435, 2331240, 2331241, 2331242, 2393060, 2393061, 2393062, 2455829, 2455830, 2455831, 2519672, 2519673, 2519674)
24
24 record(s) deleted
1651246909
delete FROM stepn_solana_gst_out_bitquery WHERE id in (2111884, 2111885, 2111886, 2111887, 2111888, 2111889, 2111890, 2161164, 2161165, 2161166, 2161167, 2161168, 2161169, 2161170, 2215070, 2215071, 2215072, 2215073, 2215074, 2215075, 2215076, 2271436, 2271437, 2271438, 2271439, 2271440, 2271441, 2271442, 2331243, 2331244, 2331245, 2331246, 2331247, 2331248, 2331249, 2393063, 2393064, 2393065, 2393066, 2393067, 2393068, 2393069, 2455832, 2455833, 2455834, 2455835, 2455836, 2455837, 2455838, 2519675, 2519676, 2519677, 2519678, 2519679, 2519680, 2519681)
56
56 record(s) deleted
1651246911
delete FROM stepn_solana_gst_out_bitquery WHERE id in (2111891, 2111892, 2161171, 2161172, 2215077, 2215078, 2271443, 2271444, 2331250, 2331251, 2393070, 2393071, 2455839, 2455840, 2519682, 2519683)
16
16 record(s) deleted
1651246912
delete FROM stepn_solana_gst_out_bitquery WHERE id in (2111893, 2111894, 2111895, 2111896, 2161173, 2161174, 2161175, 2161176, 2215079, 2215080, 2215081, 2215082, 2271445, 2271446, 2271447, 2271448, 2331252, 2331253, 2331254, 2331255, 2393072, 2393073, 2393074, 2393075, 2455841, 2455842, 2455843, 2455844, 2519684, 2519685, 2519686, 2519687)
32
32 record(s) deleted
1651246922
delete FROM stepn_solana_gst_out_bitquery WHERE id in (2111897, 2111898, 2111899, 2111900, 2111901, 2111902, 2111903, 2111904, 2161177, 2161178, 2161179, 2161180, 2161181, 2161182, 2161183, 2161184, 2215083, 2215084, 2215085, 2215086, 2215087, 2215088, 2215089, 2215090, 2271449, 2271450, 2271451, 2271452, 2271453, 2271454, 2271455, 2271456, 2331256, 2331257, 2331258, 2331259, 2331260, 2331261, 2331262, 2331263, 2393076, 2393077, 2393078, 2393079, 2393080, 2393081, 2393082, 2393083, 2455845, 2455846, 2455847, 2455848, 2455849, 2455850, 2455851, 2455852, 2519688, 2519689, 2519690, 2519691, 2519692, 2519693, 2519694, 2519695)
64
64 record(s) deleted
1651246924
delete FROM stepn_solana_gst_out_bitquery WHERE id in (2111905, 2111906, 2111907, 2111908, 2161185, 2161186, 2161187, 2161188, 2215091, 2215092, 2215093, 2215094, 2271457, 2271458, 2271459, 2271460, 2331264, 2331265, 2331266, 2331267, 2393084, 2393085, 2393086, 2393087, 2455853, 2455854, 2455855, 2455856, 2519696, 2519697, 2519698, 2519699)
32
32 record(s) deleted
1651246925
delete FROM stepn_solana_gst_out_bitquery WHERE id in (2111909, 2111910, 2111911, 2111912, 2111913, 2111914, 2111915, 2111916, 2161189, 2161190, 2161191, 2161192, 2161193, 2161194, 2161195, 2161196, 2215095, 2215096, 2215097, 2215098, 2215099, 2215100, 2215101, 2215102, 2271461, 2271462, 2271463, 2271464, 2271465, 2271466, 2271467, 2271468, 2331268, 2331269, 2331270, 2331271, 2331272, 2331273, 2331274, 2331275, 2393088, 2393089, 2393090, 2393091, 2393092, 2393093, 2393094, 2393095, 2455857, 2455858, 2455859, 2455860, 2455861, 2455862, 2455863, 2455864, 2519700, 2519701, 2519702, 2519703, 2519704, 2519705, 2519706, 2519707)
64
64 record(s) deleted
1651246931
delete FROM stepn_solana_gst_out_bitquery WHERE id in (2111917, 2111918, 2111919, 2111920, 2161197, 2161198, 2161199, 2161200, 2215103, 2215104, 2215105, 2215106, 2271469, 2271470, 2271471, 2271472, 2331276, 2331277, 2331278, 2331279, 2393096, 2393097, 2393098, 2393099, 2455865, 2455866, 2455867, 2455868, 2519708, 2519709, 2519710, 2519711)
32
32 record(s) deleted
1651246934
delete FROM stepn_solana_gst_out_bitquery WHERE id in (2111921, 2111922, 2111923, 2111924, 2161201, 2161202, 2161203, 2161204, 2215107, 2215108, 2215109, 2215110, 2271473, 2271474, 2271475, 2271476, 2331280, 2331281, 2331282, 2331283, 2393100, 2393101, 2393102, 2393103, 2455869, 2455870, 2455871, 2455872, 2519712, 2519713, 2519714, 2519715)
32
32 record(s) deleted
1651246936
delete FROM stepn_solana_gst_out_bitquery WHERE id in (2111925, 2111926, 2111927, 2111928, 2161205, 2161206, 2161207, 2161208, 2215111, 2215112, 2215113, 2215114, 2271477, 2271478, 2271479, 2271480, 2331284, 2331285, 2331286, 2331287, 2393104, 2393105, 2393106, 2393107, 2455873, 2455874, 2455875, 2455876, 2519716, 2519717, 2519718, 2519719)
32
32 record(s) deleted
1651246940
delete FROM stepn_solana_gst_out_bitquery WHERE id in (2111929, 2111930, 2111931, 2111932, 2161209, 2161210, 2161211, 2161212, 2215115, 2215116, 2215117, 2215118, 2271481, 2271482, 2271483, 2271484, 2331288, 2331289, 2331290, 2331291, 2393108, 2393109, 2393110, 2393111, 2455877, 2455878, 2455879, 2455880, 2519720, 2519721, 2519722, 2519723)
32
32 record(s) deleted
1651246941
delete FROM stepn_solana_gst_out_bitquery WHERE id in (2111933, 2111934, 2111935, 2111936, 2111937, 2111938, 2111939, 2111940, 2161213, 2161214, 2161215, 2161216, 2161217, 2161218, 2161219, 2161220, 2215119, 2215120, 2215121, 2215122, 2215123, 2215124, 2215125, 2215126, 2271485, 2271486, 2271487, 2271488, 2271489, 2271490, 2271491, 2271492, 2331292, 2331293, 2331294, 2331295, 2331296, 2331297, 2331298, 2331299, 2393112, 2393113, 2393114, 2393115, 2393116, 2393117, 2393118, 2393119, 2455881, 2455882, 2455883, 2455884, 2455885, 2455886, 2455887, 2455888, 2519724, 2519725, 2519726, 2519727, 2519728, 2519729, 2519730, 2519731)
64
64 record(s) deleted
1651246942
delete FROM stepn_solana_gst_out_bitquery WHERE id in (2111941, 2111942, 2111943, 2111944, 2161221, 2161222, 2161223, 2161224, 2215127, 2215128, 2215129, 2215130, 2271493, 2271494, 2271495, 2271496, 2331300, 2331301, 2331302, 2331303, 2393120, 2393121, 2393122, 2393123, 2455889, 2455890, 2455891, 2455892, 2519732, 2519733, 2519734, 2519735)
32
32 record(s) deleted
1651246949
delete FROM stepn_solana_gst_out_bitquery WHERE id in (2111945, 2111946, 2111947, 2111948, 2111949, 2111950, 2111951, 2111952, 2111953, 2111954, 2111955, 2111956, 2111957, 2111958, 2111959, 2111960, 2111961, 2111962, 2111963, 2111964, 2111965, 2111966, 2111967, 2161225, 2161226, 2161227, 2161228, 2161229, 2161230, 2161231, 2161232, 2161233, 2161234, 2161235, 2161236, 2161237, 2161238, 2161239, 2161240, 2161241, 2161242, 2161243, 2161244, 2161245, 2161246, 2161247, 2215131, 2215132, 2215133, 2215134, 2215135, 2215136, 2215137, 2215138, 2215139, 2215140, 2215141, 2215142, 2215143, 2215144, 2215145, 2215146, 2215147, 2215148, 2215149, 2215150, 2215151, 2215152, 2215153, 2271497, 2271498, 2271499, 2271500, 2271501, 2271502, 2271503, 2271504, 2271505, 2271506, 2271507, 2271508, 2271509, 2271510, 2271511, 2271512, 2271513, 2271514, 2271515, 2271516, 2271517, 2271518, 2271519, 2331304, 2331305, 2331306, 2331307, 2331308, 2331309, 2331310, 2331311, 2331312, 2331313, 2331314, 2331315, 2331316, 2331317, 2331318, 2331319, 2331320, 2331321, 2331322, 2331323, 2331324, 2331325, 2331326, 2393124, 2393125, 2393126, 2393127, 2393128, 2393129, 2393130, 2393131, 2393132, 2393133, 2393134, 2393135, 2393136, 2393137, 2393138, 2393139, 2393140, 2393141, 2393142, 2393143, 2393144, 2393145, 2393146, 2455893, 2455894, 2455895, 2455896, 2455897, 2455898, 2455899, 2455900, 2455901, 2455902, 2455903, 2455904, 2455905, 2455906, 2455907, 2455908, 2455909, 2455910, 2455911, 2455912, 2455913, 2455914, 2455915, 2519736, 2519737, 2519738, 2519739, 2519740, 2519741, 2519742, 2519743, 2519744, 2519745, 2519746, 2519747, 2519748, 2519749, 2519750, 2519751, 2519752, 2519753, 2519754, 2519755, 2519756, 2519757, 2519758)
184
184 record(s) deleted
1651246961
delete FROM stepn_solana_gst_out_bitquery WHERE id in (2111968, 2111969, 2111970, 2111971, 2161248, 2161249, 2161250, 2161251, 2215154, 2215155, 2215156, 2215157, 2271520, 2271521, 2271522, 2271523, 2331327, 2331328, 2331329, 2331330, 2393147, 2393148, 2393149, 2393150, 2455916, 2455917, 2455918, 2455919, 2519759, 2519760, 2519761, 2519762)
32
32 record(s) deleted
1651246966
delete FROM stepn_solana_gst_out_bitquery WHERE id in (2111972, 2111973, 2111974, 2111975, 2111976, 2111977, 2111978, 2111979, 2111980, 2111981, 2111982, 2111983, 2111984, 2111985, 2161252, 2161253, 2161254, 2161255, 2161256, 2161257, 2161258, 2161259, 2161260, 2161261, 2161262, 2161263, 2161264, 2161265, 2215158, 2215159, 2215160, 2215161, 2215162, 2215163, 2215164, 2215165, 2215166, 2215167, 2215168, 2215169, 2215170, 2215171, 2271524, 2271525, 2271526, 2271527, 2271528, 2271529, 2271530, 2271531, 2271532, 2271533, 2271534, 2271535, 2271536, 2271537, 2331331, 2331332, 2331333, 2331334, 2331335, 2331336, 2331337, 2331338, 2331339, 2331340, 2331341, 2331342, 2331343, 2331344, 2393151, 2393152, 2393153, 2393154, 2393155, 2393156, 2393157, 2393158, 2393159, 2393160, 2393161, 2393162, 2393163, 2393164, 2455920, 2455921, 2455922, 2455923, 2455924, 2455925, 2455926, 2455927, 2455928, 2455929, 2455930, 2455931, 2455932, 2455933, 2519763, 2519764, 2519765, 2519766, 2519767, 2519768, 2519769, 2519770, 2519771, 2519772, 2519773, 2519774, 2519775, 2519776)
112
112 record(s) deleted
1651246971
delete FROM stepn_solana_gst_out_bitquery WHERE id in (2111986, 2111987, 2111988, 2111989, 2111990, 2111991, 2111992, 2161266, 2161267, 2161268, 2161269, 2161270, 2161271, 2161272, 2215172, 2215173, 2215174, 2215175, 2215176, 2215177, 2215178, 2271538, 2271539, 2271540, 2271541, 2271542, 2271543, 2271544, 2331345, 2331346, 2331347, 2331348, 2331349, 2331350, 2331351, 2393165, 2393166, 2393167, 2393168, 2393169, 2393170, 2393171, 2455934, 2455935, 2455936, 2455937, 2455938, 2455939, 2455940, 2519777, 2519778, 2519779, 2519780, 2519781, 2519782, 2519783)
56
56 record(s) deleted
1651246972

In [165]:
qrtmp = "select * from " + tablename + " where blocktime in " + str(tuple(myresult['blocktime'].to_list()))
dftmp = pd.read_sql_query(qrtmp, conn)

In [259]:
len(dupes_tx)

83832

In [169]:
len(dftmp)

66

In [ ]:





for idx, row in dupes_tx.iterrows():
    "select * from stepn_solana_tx where blocktime=1655031871"
dtx = pd.read_sql_query(, con=conn)

# Remove duplicates from table (using magic commands)
For tables: <br>
    *   stepn_solana_accnt <br>
    *   stepn_solana_tx

#### load sql module

In [ ]:
%load_ext sql

#### connect to crypto database

In [ ]:
%sql mysql+pymysql://crypto:trackcrack@192.168.0.2/crypto

#### list tables

In [22]:
%%sql
show tables;

 * mysql+pymysql://crypto:***@192.168.0.2/crypto
4 rows affected.

[('stepn_solana_accnt',),
 ('stepn_solana_gst_out_bitquery',),
 ('stepn_solana_tx',),
 ('temp',)]

#### list table columns

In [239]:
%%sql
SHOW columns FROM stepn_solana_gst_in_bitquery

 * mysql+pymysql://crypto:***@192.168.0.2/crypto
11 rows affected.

[('datetime', 'datetime', 'YES', '', None, ''),
 ('blocktime', 'bigint(20)', 'YES', '', None, ''),
 ('amount', 'double', 'YES', '', None, ''),
 ('mint', 'text', 'YES', '', None, ''),
 ('decimals', 'bigint(20)', 'YES', '', None, ''),
 ('symbol', 'text', 'YES', '', None, ''),
 ('sender', 'text', 'YES', '', None, ''),
 ('sender_token_account', 'text', 'YES', '', None, ''),
 ('receiver', 'text', 'YES', '', None, ''),
 ('receiver_token_account', 'text', 'YES', '', None, ''),
 ('signature', 'text', 'YES', '', None, '')]

#### get primary key of a table

In [241]:
%%sql
SHOW KEYS FROM stepn_solana_gst_in_bitquery WHERE Key_name = 'PRIMARY'

 * mysql+pymysql://crypto:***@192.168.0.2/crypto
0 rows affected.

[]

#### add auto-incrementing id as primary key

In [255]:
%%sql
ALTER TABLE stepn_solana_gst_in_bitquery ADD id INT NOT NULL AUTO_INCREMENT PRIMARY KEY

 * mysql+pymysql://crypto:***@192.168.0.2/crypto
0 rows affected.

[]

#### drop primary key

In [ ]:
%%sql
ALTER TABLE temp DROP PRIMARY KEY

#### show duplicate rows

In [23]:
%%sql
SELECT
     blocktime, COUNT(blocktime),
     accountIndex, COUNT(accountIndex),
     owner, COUNT(owner),
     mint, COUNT(mint),
     prebal, COUNT(prebal),
     postbal, COUNT(postbal),
     difference, COUNT(difference),
     fee, COUNT(fee),
     status, COUNT(status),
     signature, COUNT(signature) 
FROM
     temp
GROUP BY
     blocktime,
     accountIndex,
     owner,
     mint,
     prebal,
     postbal,
     difference,
     fee,
     status,
     signature
HAVING
     COUNT(blocktime) > 1
     AND COUNT(accountIndex) > 1
     AND COUNT(owner) > 1
     AND COUNT(mint) > 1
     AND COUNT(prebal) > 1
     AND COUNT(postbal) > 1
     AND COUNT(difference) > 1
     AND COUNT(fee) > 1
     AND COUNT(status) > 1
     AND COUNT(signature) > 1;

 * mysql+pymysql://crypto:***@192.168.0.2/crypto
8 rows affected.

[(1654835357, 2, 0, 2, 'STEPNq2UGeGSzCyGVr2nMQAzf8xuejwqebd84wcksCK', 2, 'sol', 2, 564542546782402, 2, 564542546777402, 2, -5000.0, 2, 5000.0, 2, "{'Ok': None}", 2, '2dY1i3PD2XurJxjX2K2tYxfyhZr6NFY6BEA2bE4u7PF8Sm3Wc5QiG8SKUD93uyRJXHy7mpG4R9zp5jHzVh9UZ9my', 2),
 (1654835357, 2, 0, 2, 'STEPNq2UGeGSzCyGVr2nMQAzf8xuejwqebd84wcksCK', 2, 'sol', 2, 564542546787402, 2, 564542546782402, 2, -5000.0, 2, 5000.0, 2, "{'Ok': None}", 2, '2R1zzrbj2QKwHoTxFfDBp5GfNTLQvKP4E82MPZFcoyY6gWhR3JqYJf8gW1B379CuBVMY2GuTh7T9XdUW35enjXnc', 2),
 (1654835357, 2, 0, 2, 'STEPNq2UGeGSzCyGVr2nMQAzf8xuejwqebd84wcksCK', 2, 'sol', 2, 564542546792402, 2, 564542546787402, 2, -5000.0, 2, 5000.0, 2, "{'Ok': None}", 2, '4gdqLCC4U5rwRfuxTBbL1E2SdX5LVHPMpSUhpMchScTmXkTyY7KyWU79ByQAVbhBbumuguHsxiDMoxM8KKAjijJX', 2),
 (1654835357, 2, 0, 2, 'STEPNq2UGeGSzCyGVr2nMQAzf8xuejwqebd84wcksCK', 2, 'sol', 2, 564555548562402, 2, 564542546792402, 2, -13001770000.0, 2, 5000.0, 2, "{'Ok': None}", 2, 'urb24kwXTYx2K1TBbHndRhMTPEWidYPSHssxWHCKDkCsmknRPqrMKhv4TvPpMMzrGX5UDzCj7ZcnxrazRWtaErc', 2),
 (1654835357, 2, 0, 2, 'STEPNq2UGeGSzCyGVr2nMQAzf8xuejwqebd84wcksCK', 2, 'sol', 2, 564555854067402, 2, 564555548562402, 2, -305505000.0, 2, 5000.0, 2, "{'Ok': None}", 2, '526WSK41j63xUgg8T44UxJcZMRAVtGKLrWNbnfEy6rxoB8ih7tsj4RiXxtBYVNpqBknRULmHdZYucSuoQH9kZ3N', 2),
 (1654835357, 2, 0, 2, 'STEPNq2UGeGSzCyGVr2nMQAzf8xuejwqebd84wcksCK', 2, 'sol', 2, 564556461312402, 2, 564555854067402, 2, -607245000.0, 2, 5000.0, 2, "{'Ok': None}", 2, 'brsz4K4xRsPHt7yn2NFy2mGXaX6b5a7tt18cQ5pZzLLuck7pzuECtEUqsGM6HocyrVHV82D1AmE2svcujyvqzS6', 2),
 (1654835359, 2, 0, 2, 'STEPNq2UGeGSzCyGVr2nMQAzf8xuejwqebd84wcksCK', 2, 'sol', 2, 564542546772402, 2, 564542546767402, 2, -5000.0, 2, 5000.0, 2, "{'Ok': None}", 2, '5JxSuRzeGBirx5FGEUziijFiuxxKyKuRnH69zZT4xnKcSCHDFmAF1xxwbYV1vbfv6mqTFE1Eo2xUQm2JdHyRDc8n', 2),
 (1654835359, 2, 0, 2, 'STEPNq2UGeGSzCyGVr2nMQAzf8xuejwqebd84wcksCK', 2, 'sol', 2, 564542546777402, 2, 564542546772402, 2, -5000.0, 2, 5000.0, 2, "{'Ok': None}", 2, '2znfJt98UUCaF6VVrCwZs6ofxBmZCREkWuGQvGafTUmphhCgWrY78hKoahHmsu2Y7rKwbWzAhq8FuF852ye2XzH1', 2)]

#### remove duplicate rows

In [ ]:
%%sql
delete t1 FROM temp t1
INNER JOIN temp t2
WHERE
    t1.id < t2.id AND
    t1.blocktime = t2.blocktime AND
    t1.accountIndex = t2.accountIndex AND
    t1.owner = t2.owner AND  
    t1.mint = t2.mint AND
    t1.prebal = t2.prebal AND
    t1.postbal = t2.postbal AND
    t1.difference = t2.difference AND
    t1.fee = t2.fee AND
    t1.status = t2.status AND    
    t1.signature = t2.signature
    ;

# Other mysql commands (using magic commands)

#### copy table to run test

In [ ]:
%%sql
CREATE TABLE temp LIKE stepn_solana_tx;
INSERT INTO temp SELECT * FROM stepn_solana_tx;

#### remove last n row (must have id as non-duplicate incremental key)

In [ ]:
n = 15380

table_name = "stepn_solana_gst_out_bitquery"
qry_cnt = "SELECT COUNT(*) FROM " + table_name
row_count = pd.read_sql_query(qry_cnt, con=conn)

indx_rm = row_count.iloc[0, 0] - n
# DELETE FROM `students` WHERE `id` > 900;
# 1958474
indx_rm

In [ ]:
%%sql
delete FROM stepn_solana_gst_out_bitquery WHERE id > 1958474;

#### remove rows for specific date

In [126]:
# table_name = "stepn_solana_tx"
table_name = "stepn_solana_gst_out_bitquery"
qry_date = "SELECT id, datetime, blocktime, signature from " + table_name + " where DATE(datetime)='2022-05-31';"
date_tx = pd.read_sql_query(qry_date, con=conn).iloc[:, :]
print(len(date_tx))
date_tx

175449

,id,datetime,blocktime,signature
0,5841005,2022-05-31 09:00:16,1653987616,5t5pfVhyUeNu2PWrLUuWqbA9csZSzEU3Yk3UX5KuVJWki2T8GV1YKJyf575dt3DsxxLmwLnzJuB8fKs8WYMFz8xH
1,5841006,2022-05-31 09:00:20,1653987620,3Jq8JPPExcnhzUfudWgvYfQQ4CKoDjfyzH15Tf48ubv1vYDcmn2RdPichAtgefcinpZ1o7fVVD5MRo5XfwgFSFsL
2,5841007,2022-05-31 09:00:20,1653987620,qmbNYmuVEZBoBmaN8pSy2sEfiQgncRSfEKCxzypEDEUKaNrzoojmonW8s3UxRUtrdk4tnwQ6wgHtFcaRpf1evL5
3,5841008,2022-05-31 09:00:20,1653987620,579KWqvVkpfW76VtThTNMzauDfzCdqAuNpmtiUX5Grq18jyhJsPXT6fHES1fdLscvwwGtuBAiNGTJdkCavJLj2SZ
4,5841009,2022-05-31 09:00:20,1653987620,4Vu7ogxyBuFiRWhAtGM2LbDinYmtgTXpJ3hPMmxE8nhEkrJTBGLinAgoG27KUep45jtcwME8obP9P1bDMFEVLRFf
...,...,...,...,...
175444,7425874,2022-05-31 08:59:50,1653987590,4q47wcGhLgucvJQp5V8thHVLqKq5ByuuMzG1kCpAN9b8Qo3tTU8HcXFfAaHfyifq29WhTJpbjNiJ7yLSMv9QM8FK
175445,7425875,2022-05-31 08:59:55,1653987595,2YtYjeBjTRPpMJaoWMrtSmDUSrj6Ev6GURQTr4xuXzcJFAqngo5F5oZESj35zWRWuyt9aNLJueVNnxMayrLG9bqH
175446,7425876,2022-05-31 08:59:55,1653987595,2YtYjeBjTRPpMJaoWMrtSmDUSrj6Ev6GURQTr4xuXzcJFAqngo5F5oZESj35zWRWuyt9aNLJueVNnxMayrLG9bqH
175447,7425877,2022-05-31 08:59:56,1653987596,4rW4rpEVs1JCG19xH6vh9TzqQYcqPy45KVU41nxnFAVHP7meb8DuE6v4ntZ7SBtuBAXCfM4euqe278R9eHe2844Y
175448,7425878,2022-05-31 08:59:56,1653987596,4rW4rpEVs1JCG19xH6vh9TzqQYcqPy45KVU41nxnFAVHP7meb8DuE6v4ntZ7SBtuBAXCfM4euqe278R9eHe2844Y

In [119]:
%%sql
delete from stepn_solana_gst_out_bitquery WHERE DATE(datetime)='2022-06-02'

 * mysql+pymysql://crypto:***@192.168.0.2/crypto
13359 rows affected.

[]