# MySQL commands to monitor DB (using pandas & sqlalchemy)

In [1]:
from sqlalchemy import create_engine
import pymysql

from datetime import datetime
import pandas as pd

db_connection_str = 'mysql+pymysql://crypto:trackcrack@192.168.0.2/crypto'  # connect to 'crypto' database in B150M
db_connection = create_engine(db_connection_str)
conn = db_connection.connect()

In [2]:
# get table headers
# table_name = "stepn_solana_tx"
# table_name = "stepn_solana_accnt"
# table_name = "stepn_solana_gst_out_bitquery"
# table_name = "stepn_solana_gst_in_bitquery"
# table_name = "stepn_solana_gmt_out_bitquery"
# table_name = "stepn_solana_gmt_in_bitquery"
table_name = "stepn_solana_token_out_bitquery"
# table_name = "stepn_solana_token_in_bitquery"
# table_name = "tmp_table"
column_headers = pd.read_sql_query("DESCRIBE " + table_name, con=conn)
print(column_headers)

                     Field        Type Null Key Default Extra
0                 datetime    datetime  YES        None
1                blocktime  bigint(20)  YES        None
2                   amount      double  YES        None
3                     mint        text  YES        None
4                 decimals  bigint(20)  YES        None
5                   symbol        text  YES        None
6                   sender        text  YES        None
7     sender_token_account        text  YES        None
8                 receiver        text  YES        None
9   receiver_token_account        text  YES        None
10               signature        text  YES        None

In [ ]:
# get number of rows in table
# table_name = "stepn_solana_tx"
# table_name = "stepn_solana_accnt"
# table_name = "stepn_solana_gst_out_bitquery"
# table_name = "stepn_solana_gst_in_bitquery"
# table_name = "stepn_solana_gmt_out_bitquery"
# table_name = "stepn_solana_gmt_in_bitquery"
# table_name = "stepn_solana_token_out_bitquery"
table_name = "stepn_solana_token_in_bitquery"
# table_name = "tmp_table"
qry_cnt = "SELECT COUNT(*) FROM " + table_name
row_count = pd.read_sql_query(qry_cnt, con=conn)
num_rows = row_count
print('num_rows:', num_rows)

In [ ]:
# get bytesize of tables
qry_sz = "SELECT TABLE_NAME AS `Table`, " + \
    "ROUND((DATA_LENGTH + INDEX_LENGTH) / 1024 / 1024) AS `Size (MB)` FROM information_schema.TABLES "  + \
    "WHERE TABLE_SCHEMA = 'crypto' ORDER BY   (DATA_LENGTH + INDEX_LENGTH) DESC;"
bytesize = pd.read_sql_query(qry_sz, con=conn)
bytesize

In [ ]:
# get tx for a date
# table_name = "stepn_solana_tx"
# table_name = "stepn_solana_gst_out_bitquery"
qry_date = "SELECT id, datetime, blocktime, signature from " + table_name + " where DATE(datetime)='2022-05-01';"
date_tx = pd.read_sql_query(qry_date, con=conn).iloc[:, :]
date_tx

In [ ]:
# get tx by blocktime
# table_name = "stepn_solana_tx"
# table_name = "stepn_solana_gst_out_bitquery"
# table_name = "stepn_solana_gst_in_bitquery"
qry_date = "SELECT * from " + table_name + " where blocktime='1649808072';"
blocktime_tx = pd.read_sql_query(qry_date, con=conn).iloc[:, :]
blocktime_tx

In [ ]:
# get last rows
# table_name = "stepn_solana_tx"
# table_name = "stepn_solana_gst_out_bitquery"
# table_name = "stepn_solana_gst_in_bitquery"
# table_name = "stepn_solana_gmt_out_bitquery"
# table_name = "stepn_solana_gmt_in_bitquery"
table_name = "stepn_solana_token_out_bitquery"
# table_name = "stepn_solana_token_in_bitquery"

# table_name = "tmp_gmt_in"
# qry_last = "SELECT id, datetime, blocktime, signature from " + table_name + ' ORDER BY blocktime DESC LIMIT 10;'
qry_last = "SELECT datetime, blocktime, mint, signature from " + table_name + ' ORDER BY blocktime DESC LIMIT 10;'
oldest_tx = pd.read_sql_query(qry_last, con=conn).iloc[:, :]
oldest_tx

# Remove duplicates from table (using pandas & mysql-connector-python)

## get duplicate row in dataframe

In [ ]:
# stepn_solana_tx table
query_dupes = """
SELECT
     blocktime, COUNT(blocktime),
     accountIndex, COUNT(accountIndex),
     owner, COUNT(owner),
     mint, COUNT(mint),
     prebal, COUNT(prebal),
     postbal, COUNT(postbal),
     difference, COUNT(difference),
     fee, COUNT(fee),
     status, COUNT(status),
     signature, COUNT(signature),
     id, COUNT(id) 
FROM
     stepn_solana_tx
GROUP BY
     blocktime,
     accountIndex,
     owner,
     mint,
     prebal,
     postbal,
     difference,
     fee,
     status,
     signature
HAVING
     COUNT(blocktime) > 1
     AND COUNT(accountIndex) > 1
     AND COUNT(owner) > 1
     AND COUNT(mint) > 1
     AND COUNT(prebal) > 1
     AND COUNT(postbal) > 1
     AND COUNT(difference) > 1
     AND COUNT(fee) > 1
     AND COUNT(status) > 1
     AND COUNT(signature) > 1;
"""     
table_name = "stepn_solana_tx"
# table_name = "stepn_solana_gst_out_bitquery"
dupes_tx = pd.read_sql_query(query_dupes, con=conn).iloc[:, :]
dupes_tx

In [ ]:
# stepn_solana_accnt table
query_dupes = """
SELECT
     blocktime, COUNT(blocktime),
     signature, COUNT(signature),     
     accounts, COUNT(accounts) 
FROM
     stepn_solana_accnt
GROUP BY
     blocktime,
     signature,
     accounts
HAVING
     COUNT(blocktime) > 1          
     AND COUNT(signature) > 1          
     AND COUNT(accounts) > 1;
"""     
dupes_tx = pd.read_sql_query(query_dupes, con=conn).iloc[:, :]
dupes_tx

In [ ]:
# stepn_solana_***_**_bitquery tables

# table_name = "stepn_solana_tx"
# table_name = "stepn_solana_accnt"
# table_name = "stepn_solana_gst_out_bitquery"
# table_name = "stepn_solana_gst_in_bitquery"
# table_name = "stepn_solana_gmt_out_bitquery"
# table_name = "stepn_solana_gmt_in_bitquery"
# table_name = "stepn_solana_token_out_bitquery"
table_name = "stepn_solana_token_in_bitquery"
# table_name = "tmp_table"
query_dupes = f"""
SELECT
     blocktime, COUNT(blocktime),
     datetime, COUNT(datetime),     
     mint, COUNT(mint),
     amount, COUNT(amount),
     receiver, COUNT(receiver),
     receiver_token_account, COUNT(receiver_token_account),
     sender, COUNT(sender),
     sender_token_account, COUNT(sender_token_account),
     signature, COUNT(signature),
     symbol, COUNT(symbol) 
     decimals, COUNT(decimals) 
FROM
     {table_name}
GROUP BY
     blocktime,
     datetime,
     mint,
     amount,
     receiver,
     receiver_token_account,
     sender,
     sender_token_account,
     signature,
     symbol,
     decimals
HAVING
     COUNT(blocktime) > 1     
     AND COUNT(mint) > 1     
     AND COUNT(signature) > 1     
     AND COUNT(datetime) > 1     
     AND COUNT(amount) > 1     
     AND COUNT(receiver) > 1     
     AND COUNT(receiver_token_account) > 1     
     AND COUNT(sender) > 1     
     AND COUNT(sender_token_account) > 1     
     AND COUNT(symbol) > 1     
     AND COUNT(decimals) > 1;
"""     
dupes_tx = pd.read_sql_query(query_dupes, con=conn).iloc[:, :]
dupes_tx

## get number of duplicates, and numbers of uniques among them

In [ ]:
total_num_dupes = dupes_tx['COUNT(blocktime)'].sum()
print('total_num_dupes:', total_num_dupes)
num_uniques_of_dupes = len(dupes_tx)
print('num_uniques_of_dupes:', num_uniques_of_dupes)

## delete duplicate rows using intermediate table

### execute deletion

In [ ]:
table_name = "stepn_solana_token_in_bitquery"
newtable_name = "tmp_table"

import mysql.connector
mydb = mysql.connector.connect(    
    host="192.168.0.2",
    user="crypto",
    password="trackcrack",
    database="crypto"
)
mycursor = mydb.cursor()

# deleted_ids = []

exq = f"""
    CREATE TABLE {newtable_name} SELECT DISTINCT datetime, blocktime, amount, mint, decimals, 
    symbol, sender, sender_token_account, receiver, receiver_token_account, signature 
    FROM {table_name}
"""

# # exq = """
# #     CREATE TABLE tmp_accnt SELECT DISTINCT blocktime, signature, accounts
# #     FROM stepn_solana_accnt
# # """

mycursor.execute(exq)
net_rows = mycursor.rowcount
print('net_rows:', net_rows)

### check if number of rows work out

In [ ]:
assert(net_rows == (num_rows - (total_num_dupes - num_uniques_of_dupes)))

### commit execution

In [ ]:
mydb.commit()
print(mycursor.rowcount, "record(s) commited")

### drop original table
use <show processlist;> command, and kill sleeping processes if this takes too long

In [ ]:
exq1 = f"DROP TABLE {table_name};"
mycursor.execute(exq1)
mydb.commit()

### rename new table

In [ ]:
exq2 = f"ALTER TABLE {newtable_name} RENAME {table_name}"
mycursor.execute(exq2)
mydb.commit()

# misc magic commands
For tables: <br>
    *   stepn_solana_accnt <br>
    *   stepn_solana_tx

#### load sql module

In [ ]:
%load_ext sql

#### connect to crypto database

In [ ]:
%sql mysql+pymysql://crypto:trackcrack@192.168.0.2/crypto

#### list tables

In [ ]:
%%sql
show tables;

#### list table columns

In [ ]:
%%sql
SHOW columns FROM stepn_solana_gst_in_bitquery

#### get primary key of a table

In [ ]:
%%sql
SHOW KEYS FROM stepn_solana_gst_in_bitquery WHERE Key_name = 'PRIMARY'

#### add auto-incrementing id as primary key

In [ ]:
%%sql
ALTER TABLE stepn_solana_gst_in_bitquery ADD id INT NOT NULL AUTO_INCREMENT PRIMARY KEY

#### drop primary key

In [ ]:
%%sql
ALTER TABLE temp DROP PRIMARY KEY

#### copy table to run test

In [ ]:
%%sql
CREATE TABLE temp LIKE stepn_solana_tx;
INSERT INTO temp SELECT * FROM stepn_solana_tx;

#### remove last n row (must have id as non-duplicate incremental key)

In [ ]:
n = 15380

table_name = "stepn_solana_gst_out_bitquery"
qry_cnt = "SELECT COUNT(*) FROM " + table_name
row_count = pd.read_sql_query(qry_cnt, con=conn)

indx_rm = row_count.iloc[0, 0] - n
# DELETE FROM `students` WHERE `id` > 900;
# 1958474
indx_rm

In [ ]:
%%sql
delete FROM stepn_solana_gst_out_bitquery WHERE id > 1958474;

#### remove rows for specific date

In [ ]:
# table_name = "stepn_solana_tx"
table_name = "stepn_solana_gst_out_bitquery"
qry_date = "SELECT id, datetime, blocktime, signature from " + table_name + " where DATE(datetime)='2022-05-31';"
date_tx = pd.read_sql_query(qry_date, con=conn).iloc[:, :]
print(len(date_tx))
date_tx

In [ ]:
%%sql
delete from stepn_solana_gst_out_bitquery WHERE DATE(datetime)='2022-06-02'