# MySQL commands to monitor DB

In [121]:
from sqlalchemy import create_engine
import pymysql

from datetime import datetime
import pandas as pd

db_connection_str = 'mysql+pymysql://crypto:trackcrack@192.168.0.2/crypto'  # connect to 'crypto' database in B150M
db_connection = create_engine(db_connection_str)
conn = db_connection.connect()

In [86]:
# get table headers
# table_name = "stepn_solana_tx"
table_name = "stepn_solana_gst_out_bitquery"
column_headers = pd.read_sql_query("DESCRIBE " + table_name, con=conn)
column_headers

                     Field          Type Null  Key Default           Extra
0                 datetime      datetime  YES         None
1                blocktime    bigint(20)  YES         None
2                   amount        double  YES         None
3                 receiver   varchar(64)  YES         None
4   receiver_token_account   varchar(64)  YES         None
5                signature  varchar(128)  YES         None
6     sender_token_account   varchar(64)  YES         None
7                   sender   varchar(64)  YES         None
8                     mint   varchar(64)  YES         None
9                   symbol    varchar(4)  YES         None
10                decimals   smallint(6)  YES         None
11                      id       int(11)   NO  PRI    None  auto_increment

In [ ]:
# get number of rows in table
# table_name = "stepn_solana_tx"
table_name = "stepn_solana_gst_out_bitquery"
qry_cnt = "SELECT COUNT(*) FROM " + table_name
row_count = pd.read_sql_query(qry_cnt, con=conn)
row_count

In [96]:
import mitosheet
mitosheet.sheet(row_count)

MitoWidget(analysis_data_json='{"analysisName": "id-ornlmbibyr", "analysisToReplay": null, "code": [], "stepSuâ€¦

In [94]:
# get bytesize of tables
qry_sz = "SELECT TABLE_NAME AS `Table`, " + \
    "ROUND((DATA_LENGTH + INDEX_LENGTH) / 1024 / 1024) AS `Size (MB)` FROM information_schema.TABLES "  + \
    "WHERE TABLE_SCHEMA = 'crypto' ORDER BY   (DATA_LENGTH + INDEX_LENGTH) DESC;"
bytesize = pd.read_sql_query(qry_sz, con=conn)
bytesize

                           Table  Size (MB)
0  stepn_solana_gst_out_bitquery     2136.0
1             stepn_solana_accnt     1450.0
2                stepn_solana_tx     1082.0
3                           temp      202.0

In [122]:
# get tx for a date
# table_name = "stepn_solana_tx"
table_name = "stepn_solana_gst_out_bitquery"
qry_date = "SELECT id, datetime, blocktime, signature from " + table_name + " where DATE(datetime)='2022-05-01';"
date_tx = pd.read_sql_query(qry_date, con=conn).iloc[:, :]
date_tx

,id,datetime,blocktime,signature
0,2593920,2022-05-01 09:00:00,1651395600,4cUuZ94ywCYVrJvJZtnTn1Q5Sm2mBLammREg5H9QJ8SEppKfX2CCGpjVKUiUiY8jMeQ6KwJwwLJwRWxRqoiYs4bA
1,2593921,2022-05-01 09:00:00,1651395600,mRfWvH3rLvvpX52o1W3qwHznqJ8ExMbwXLbp5HCuDgoKXEi6dGExREP6AziNNnwZw1VHHnkfMJszhRT3ZRW65kV
2,2593922,2022-05-01 09:00:00,1651395600,mRfWvH3rLvvpX52o1W3qwHznqJ8ExMbwXLbp5HCuDgoKXEi6dGExREP6AziNNnwZw1VHHnkfMJszhRT3ZRW65kV
3,2593923,2022-05-01 09:00:00,1651395600,4ceqT4RFKubLqDkuwvNRx2KBNGGKwFK7vEqs6DTmcmDsm2vM9CKN7y95ZBxs2QbzevcLJC5mqwRoVpHmBMCkiTQt
4,2593924,2022-05-01 09:00:00,1651395600,4cUuZ94ywCYVrJvJZtnTn1Q5Sm2mBLammREg5H9QJ8SEppKfX2CCGpjVKUiUiY8jMeQ6KwJwwLJwRWxRqoiYs4bA
...,...,...,...,...
114917,6043848,2022-05-01 08:59:46,1651395586,3CxtTXdvpvx7Mg2YFRJ7zhKDxKB2nwvZ6Qehy2Z39fQwgn6cdnYdqcHwjdzfCUY3GianDEL9yNW7xb76RzXivb75
114918,6043849,2022-05-01 08:59:46,1651395586,3CxtTXdvpvx7Mg2YFRJ7zhKDxKB2nwvZ6Qehy2Z39fQwgn6cdnYdqcHwjdzfCUY3GianDEL9yNW7xb76RzXivb75
114919,6043850,2022-05-01 08:59:59,1651395599,rhDKhFNWXAn9JHhDAe3STFWc9FBFATL7S5pSKekZCPgvdbwxbLrmE4VVZ52sD1YS6UfgvqezE5AUNkebM3FHM7w
114920,6043851,2022-05-01 08:59:59,1651395599,rhDKhFNWXAn9JHhDAe3STFWc9FBFATL7S5pSKekZCPgvdbwxbLrmE4VVZ52sD1YS6UfgvqezE5AUNkebM3FHM7w
114921,6043852,2022-05-01 08:59:59,1651395599,rhDKhFNWXAn9JHhDAe3STFWc9FBFATL7S5pSKekZCPgvdbwxbLrmE4VVZ52sD1YS6UfgvqezE5AUNkebM3FHM7w

In [127]:
# get last rows
# table_name = "stepn_solana_tx"
table_name = "stepn_solana_gst_out_bitquery"
qry_last = "SELECT id, datetime, blocktime, signature from " + table_name + ' ORDER BY blocktime DESC LIMIT 10;'
oldest_tx = pd.read_sql_query(qry_last, con=conn).iloc[:, :]
oldest_tx

,id,datetime,blocktime,signature
0,5959441,2022-05-31 23:59:56,1654041596,2c4K3DNfnZM6pYxg67k3x6EMZFik1Z7njryMXHahRsJFtkLwvur6mwyjpktwbZn5ph9eV3hNd87NzeyAW1FLoLHZ
1,5959442,2022-05-31 23:59:56,1654041596,2c4K3DNfnZM6pYxg67k3x6EMZFik1Z7njryMXHahRsJFtkLwvur6mwyjpktwbZn5ph9eV3hNd87NzeyAW1FLoLHZ
2,5959443,2022-05-31 23:59:56,1654041596,2c4K3DNfnZM6pYxg67k3x6EMZFik1Z7njryMXHahRsJFtkLwvur6mwyjpktwbZn5ph9eV3hNd87NzeyAW1FLoLHZ
3,5959440,2022-05-31 23:59:56,1654041596,2c4K3DNfnZM6pYxg67k3x6EMZFik1Z7njryMXHahRsJFtkLwvur6mwyjpktwbZn5ph9eV3hNd87NzeyAW1FLoLHZ
4,5959435,2022-05-31 23:59:51,1654041591,5F6oR1xnP3QrZrgNE9DnaqgSkVULmEyuEhUkBL6shXa1vqaPucCwHVqD2JqYNrdxnyGMhiPcWPBUeqD7uEsHbcL2
5,5959437,2022-05-31 23:59:51,1654041591,5F6oR1xnP3QrZrgNE9DnaqgSkVULmEyuEhUkBL6shXa1vqaPucCwHVqD2JqYNrdxnyGMhiPcWPBUeqD7uEsHbcL2
6,5959436,2022-05-31 23:59:51,1654041591,2zwK2VMVdcYJkgQ5d1W4dJy1MYEeJvg3ptf7KNTyNkwGhpDsKk1BFabiTbkvfAtjftYrUg1HbCo8egumYdBGduFv
7,5959438,2022-05-31 23:59:51,1654041591,3PcaiaBuHue9j2wNr7rNgTXLZTf3PPgeJLDh5AZRPyzdwm4ckrUGQRZ1PrRs8T4g4DHzrttkzW1YtXnZnTWLeDKh
8,5959431,2022-05-31 23:59:51,1654041591,2zwK2VMVdcYJkgQ5d1W4dJy1MYEeJvg3ptf7KNTyNkwGhpDsKk1BFabiTbkvfAtjftYrUg1HbCo8egumYdBGduFv
9,5959439,2022-05-31 23:59:51,1654041591,3PcaiaBuHue9j2wNr7rNgTXLZTf3PPgeJLDh5AZRPyzdwm4ckrUGQRZ1PrRs8T4g4DHzrttkzW1YtXnZnTWLeDKh

# Remove duplicates from table (in terminal, MariaDB prompt)
For tables: <br>
    *   stepn_solana_accnt <br>
    *   stepn_solana_tx

#### load sql module

In [ ]:
%load_ext sql

#### connect to crypto database

In [ ]:
%sql mysql+pymysql://crypto:trackcrack@192.168.0.2/crypto

#### list tables

In [22]:
%%sql
show tables;

 * mysql+pymysql://crypto:***@192.168.0.2/crypto
4 rows affected.

[('stepn_solana_accnt',),
 ('stepn_solana_gst_out_bitquery',),
 ('stepn_solana_tx',),
 ('temp',)]

#### list table columns

In [32]:
%%sql
SHOW columns FROM stepn_solana_gst_out_bitquery

 * mysql+pymysql://crypto:***@192.168.0.2/crypto
11 rows affected.

[('datetime', 'datetime', 'YES', '', None, ''),
 ('blocktime', 'bigint(20)', 'YES', '', None, ''),
 ('amount', 'double', 'YES', '', None, ''),
 ('receiver', 'varchar(64)', 'YES', '', None, ''),
 ('receiver_token_account', 'varchar(64)', 'YES', '', None, ''),
 ('signature', 'varchar(128)', 'YES', '', None, ''),
 ('sender_token_account', 'varchar(64)', 'YES', '', None, ''),
 ('sender', 'varchar(64)', 'YES', '', None, ''),
 ('mint', 'varchar(64)', 'YES', '', None, ''),
 ('symbol', 'varchar(4)', 'YES', '', None, ''),
 ('decimals', 'smallint(6)', 'YES', '', None, '')]

#### get primary key of a table

In [ ]:
%%sql
SHOW KEYS FROM stepn_solana_gst_out_bitquery WHERE Key_name = 'PRIMARY'

#### add auto-incrementing id as primary key

In [ ]:
%%sql
ALTER TABLE temp ADD id INT NOT NULL AUTO_INCREMENT PRIMARY KEY

#### drop primary key

In [ ]:
%%sql
ALTER TABLE temp DROP PRIMARY KEY

#### show duplicate rows

In [23]:
%%sql
SELECT
     blocktime, COUNT(blocktime),
     accountIndex, COUNT(accountIndex),
     owner, COUNT(owner),
     mint, COUNT(mint),
     prebal, COUNT(prebal),
     postbal, COUNT(postbal),
     difference, COUNT(difference),
     fee, COUNT(fee),
     status, COUNT(status),
     signature, COUNT(signature) 
FROM
     temp
GROUP BY
     blocktime,
     accountIndex,
     owner,
     mint,
     prebal,
     postbal,
     difference,
     fee,
     status,
     signature
HAVING
     COUNT(blocktime) > 1
     AND COUNT(accountIndex) > 1
     AND COUNT(owner) > 1
     AND COUNT(mint) > 1
     AND COUNT(prebal) > 1
     AND COUNT(postbal) > 1
     AND COUNT(difference) > 1
     AND COUNT(fee) > 1
     AND COUNT(status) > 1
     AND COUNT(signature) > 1;

 * mysql+pymysql://crypto:***@192.168.0.2/crypto
8 rows affected.

[(1654835357, 2, 0, 2, 'STEPNq2UGeGSzCyGVr2nMQAzf8xuejwqebd84wcksCK', 2, 'sol', 2, 564542546782402, 2, 564542546777402, 2, -5000.0, 2, 5000.0, 2, "{'Ok': None}", 2, '2dY1i3PD2XurJxjX2K2tYxfyhZr6NFY6BEA2bE4u7PF8Sm3Wc5QiG8SKUD93uyRJXHy7mpG4R9zp5jHzVh9UZ9my', 2),
 (1654835357, 2, 0, 2, 'STEPNq2UGeGSzCyGVr2nMQAzf8xuejwqebd84wcksCK', 2, 'sol', 2, 564542546787402, 2, 564542546782402, 2, -5000.0, 2, 5000.0, 2, "{'Ok': None}", 2, '2R1zzrbj2QKwHoTxFfDBp5GfNTLQvKP4E82MPZFcoyY6gWhR3JqYJf8gW1B379CuBVMY2GuTh7T9XdUW35enjXnc', 2),
 (1654835357, 2, 0, 2, 'STEPNq2UGeGSzCyGVr2nMQAzf8xuejwqebd84wcksCK', 2, 'sol', 2, 564542546792402, 2, 564542546787402, 2, -5000.0, 2, 5000.0, 2, "{'Ok': None}", 2, '4gdqLCC4U5rwRfuxTBbL1E2SdX5LVHPMpSUhpMchScTmXkTyY7KyWU79ByQAVbhBbumuguHsxiDMoxM8KKAjijJX', 2),
 (1654835357, 2, 0, 2, 'STEPNq2UGeGSzCyGVr2nMQAzf8xuejwqebd84wcksCK', 2, 'sol', 2, 564555548562402, 2, 564542546792402, 2, -13001770000.0, 2, 5000.0, 2, "{'Ok': None}", 2, 'urb24kwXTYx2K1TBbHndRhMTPEWidYPSHssxWHCKDkCsmknRPqrMKhv4TvPpMMzrGX5UDzCj7ZcnxrazRWtaErc', 2),
 (1654835357, 2, 0, 2, 'STEPNq2UGeGSzCyGVr2nMQAzf8xuejwqebd84wcksCK', 2, 'sol', 2, 564555854067402, 2, 564555548562402, 2, -305505000.0, 2, 5000.0, 2, "{'Ok': None}", 2, '526WSK41j63xUgg8T44UxJcZMRAVtGKLrWNbnfEy6rxoB8ih7tsj4RiXxtBYVNpqBknRULmHdZYucSuoQH9kZ3N', 2),
 (1654835357, 2, 0, 2, 'STEPNq2UGeGSzCyGVr2nMQAzf8xuejwqebd84wcksCK', 2, 'sol', 2, 564556461312402, 2, 564555854067402, 2, -607245000.0, 2, 5000.0, 2, "{'Ok': None}", 2, 'brsz4K4xRsPHt7yn2NFy2mGXaX6b5a7tt18cQ5pZzLLuck7pzuECtEUqsGM6HocyrVHV82D1AmE2svcujyvqzS6', 2),
 (1654835359, 2, 0, 2, 'STEPNq2UGeGSzCyGVr2nMQAzf8xuejwqebd84wcksCK', 2, 'sol', 2, 564542546772402, 2, 564542546767402, 2, -5000.0, 2, 5000.0, 2, "{'Ok': None}", 2, '5JxSuRzeGBirx5FGEUziijFiuxxKyKuRnH69zZT4xnKcSCHDFmAF1xxwbYV1vbfv6mqTFE1Eo2xUQm2JdHyRDc8n', 2),
 (1654835359, 2, 0, 2, 'STEPNq2UGeGSzCyGVr2nMQAzf8xuejwqebd84wcksCK', 2, 'sol', 2, 564542546777402, 2, 564542546772402, 2, -5000.0, 2, 5000.0, 2, "{'Ok': None}", 2, '2znfJt98UUCaF6VVrCwZs6ofxBmZCREkWuGQvGafTUmphhCgWrY78hKoahHmsu2Y7rKwbWzAhq8FuF852ye2XzH1', 2)]

#### remove duplicate rows

In [ ]:
%%sql
delete t1 FROM temp t1
INNER JOIN temp t2
WHERE
    t1.id < t2.id AND
    t1.blocktime = t2.blocktime AND
    t1.accountIndex = t2.accountIndex AND
    t1.owner = t2.owner AND  
    t1.mint = t2.mint AND
    t1.prebal = t2.prebal AND
    t1.postbal = t2.postbal AND
    t1.difference = t2.difference AND
    t1.fee = t2.fee AND
    t1.status = t2.status AND    
    t1.signature = t2.signature
    ;

# Other mysql commands

#### copy table to run test

In [ ]:
%%sql
CREATE TABLE temp LIKE stepn_solana_tx;
INSERT INTO temp SELECT * FROM stepn_solana_tx;

#### remove last n row (must have id as non-duplicate incremental key)

In [ ]:
n = 15380

table_name = "stepn_solana_gst_out_bitquery"
qry_cnt = "SELECT COUNT(*) FROM " + table_name
row_count = pd.read_sql_query(qry_cnt, con=conn)

indx_rm = row_count.iloc[0, 0] - n
# DELETE FROM `students` WHERE `id` > 900;
# 1958474
indx_rm

In [ ]:
%%sql
delete FROM stepn_solana_gst_out_bitquery WHERE id > 1958474;

#### remove rows for specific date

In [126]:
# table_name = "stepn_solana_tx"
table_name = "stepn_solana_gst_out_bitquery"
qry_date = "SELECT id, datetime, blocktime, signature from " + table_name + " where DATE(datetime)='2022-05-31';"
date_tx = pd.read_sql_query(qry_date, con=conn).iloc[:, :]
print(len(date_tx))
date_tx

175449

,id,datetime,blocktime,signature
0,5841005,2022-05-31 09:00:16,1653987616,5t5pfVhyUeNu2PWrLUuWqbA9csZSzEU3Yk3UX5KuVJWki2T8GV1YKJyf575dt3DsxxLmwLnzJuB8fKs8WYMFz8xH
1,5841006,2022-05-31 09:00:20,1653987620,3Jq8JPPExcnhzUfudWgvYfQQ4CKoDjfyzH15Tf48ubv1vYDcmn2RdPichAtgefcinpZ1o7fVVD5MRo5XfwgFSFsL
2,5841007,2022-05-31 09:00:20,1653987620,qmbNYmuVEZBoBmaN8pSy2sEfiQgncRSfEKCxzypEDEUKaNrzoojmonW8s3UxRUtrdk4tnwQ6wgHtFcaRpf1evL5
3,5841008,2022-05-31 09:00:20,1653987620,579KWqvVkpfW76VtThTNMzauDfzCdqAuNpmtiUX5Grq18jyhJsPXT6fHES1fdLscvwwGtuBAiNGTJdkCavJLj2SZ
4,5841009,2022-05-31 09:00:20,1653987620,4Vu7ogxyBuFiRWhAtGM2LbDinYmtgTXpJ3hPMmxE8nhEkrJTBGLinAgoG27KUep45jtcwME8obP9P1bDMFEVLRFf
...,...,...,...,...
175444,7425874,2022-05-31 08:59:50,1653987590,4q47wcGhLgucvJQp5V8thHVLqKq5ByuuMzG1kCpAN9b8Qo3tTU8HcXFfAaHfyifq29WhTJpbjNiJ7yLSMv9QM8FK
175445,7425875,2022-05-31 08:59:55,1653987595,2YtYjeBjTRPpMJaoWMrtSmDUSrj6Ev6GURQTr4xuXzcJFAqngo5F5oZESj35zWRWuyt9aNLJueVNnxMayrLG9bqH
175446,7425876,2022-05-31 08:59:55,1653987595,2YtYjeBjTRPpMJaoWMrtSmDUSrj6Ev6GURQTr4xuXzcJFAqngo5F5oZESj35zWRWuyt9aNLJueVNnxMayrLG9bqH
175447,7425877,2022-05-31 08:59:56,1653987596,4rW4rpEVs1JCG19xH6vh9TzqQYcqPy45KVU41nxnFAVHP7meb8DuE6v4ntZ7SBtuBAXCfM4euqe278R9eHe2844Y
175448,7425878,2022-05-31 08:59:56,1653987596,4rW4rpEVs1JCG19xH6vh9TzqQYcqPy45KVU41nxnFAVHP7meb8DuE6v4ntZ7SBtuBAXCfM4euqe278R9eHe2844Y

In [119]:
%%sql
delete from stepn_solana_gst_out_bitquery WHERE DATE(datetime)='2022-06-02'

 * mysql+pymysql://crypto:***@192.168.0.2/crypto
13359 rows affected.

[]